$body-bg: #FFFFFF;
$main-color: #f29415;
$txt-color: #1f2125;

$box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;

$header-height: 10rem;
$header-shrink-height: 5rem;
$border-radius: 1rem;
$mobile-width: 600px;
$tablet-width: 1024px;

$font-family: 'Noto Sans', sans-serif;