.user-profile {
    background-color: #fff;
    border-top: 1px solid #f7f7f7;
    padding: 42px 0;

    .col-lg-30 {
        min-width: 370px;
        max-width: 370px;
        position: relative;
        padding-right: 15px;
        padding-left: 15px;
    }

    .title {
        font-weight: 600;
        font-size: 20px;
        color: #343a40;
        margin-bottom: 26px;
    }
}

.user-setting-left {
    background: #fff;
    box-shadow: 0 10px 20px rgba(0,0,0,.05);
    border-radius: 8px;
    padding: 10px;
    border: 1px solid #ced4da;
    .box-info {
        padding: 10px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        border-bottom: 1px solid #d9d9d9;
    }

    .user-info {
        text-align: center;
    }

    .info {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 10px 0;
        position: relative;

        .avatar {
            width: 120px;
            height: 120px;
            border-radius: 50%;
            object-fit: cover;
            margin-bottom: 20px;
        }

        .btn-edit {
            position: absolute;
            bottom: 24px;
            right: 100px;
            width: 40px;
        }
    }

    .code span {
        font-weight: 400;
        color: #616971;
    }

    .menu-user-item {
        padding: 10px;
        cursor: pointer;
        font-size: 13px;
        img {
            max-height: 16px;
            max-width: 16px;
            margin-right: 10px;
        }

        &.active {
            background: #f4f4f5!important;
            border-radius: 8px;
        }

        &:hover {
            cursor: pointer;
            text-decoration: underline;
        }
    }
}

.form-user-profile {
    .custom-input {
        padding: 6.5px 12px;
        width: 100%;
    }

    .input-code {
        border-radius: 25px;
    }
}

.my-order {
    font-weight: 600;
    font-size: 14px;
    line-height: 20px;
    &-top {
        border-bottom: 1px solid #ced4da;
        padding-bottom: 16px;
        margin-bottom: 16px;
    }

    &-data {
        .title {
            font-style: normal;
            font-weight: 500;
            font-size: 14px;
            line-height: 22px;
            color: rgb(150, 154, 162);
        }
    }
    &-item {
        border: 1px solid rgb(206, 212, 218);
        border-radius: 8px;
        padding: 16px;
        margin-bottom: 17px;
        line-height: 20px;

        .title {
            font-weight: 500;
            font-size: 14px;
            line-height: 20px;
            color: rgb(150, 154, 162);
        }

        &-image {
            position: relative;
            overflow: hidden;
            width: 110px !important;
            height: 110px !important;

            img {
                border-radius: 6px;
                object-fit: cover;
                width: 110px !important;
                height: 110px !important;
            }
        }

        &-info {
            .name {
                font-weight: 600;
                font-size: 16px;
                line-height: 21px;
                color: rgb(52, 58, 64);
            }
        }
    }
    &-status {
        &.fail {
            color: rgb(220, 80, 44);
        }
        &.success {
            color: rgb(25, 135, 84);
        }
        &.pending {
            color: rgb(229, 178, 23);
        }
    }
    &-bottom {
        margin-top: 16px;
        display: flex;
        align-items: center;
        .total-money {
            font-weight: 400;
            font-size: 16px;
            line-height: 22px;
            color: rgb(150, 154, 162);
            text-align: right;

            span {
                font-weight: 600;
                font-size: 16px;
                line-height: 25px;
                color: rgb(232, 149, 47);
            }
        }
    }

    .my-order-filter {
        border-bottom: 1px solid #ced4da;
    }

    .total-item {
        font-weight: 400;
        font-size: 16px;
        line-height: 23px;
        color: #343a40;
        margin: 18px 0;
    }
}

.my-post {
    .container {
      padding: 4rem;
    }
    &-heading {
      h1 {
        font-size: 3.4rem;
        font-weight: 600;
        color: #000;
      }
    }
  }

  .post {
    border: 1px solid rgb(206, 212, 218);
    border-radius: 8px;
    padding: 16px;
    margin-bottom: 17px;
    line-height: 20px;
    a {
      display: block;
    }

    .img {
      width: 100%;
      height: 243px;
    }

    &-title {
      display: inline-block;
      width: 100%;
      white-space: nowrap;
      overflow: hidden !important;
      text-overflow: ellipsis;
      font-size: 14px;
      margin-top: 10px;
    }
  }

  .post-footer {
    height: 50px;
    padding-top: 5px;
  }

  .post-footer-name {
    display: flex;
    justify-content: space-between;

    .dots {
      width: 1.7rem;
      height: 2.2rem;
      transition: all 0.3s ease;

      svg {
        opacity: 0.6;
      }

      &:hover {
        svg {
          opacity: 1;
          cursor: pointer;
        }
      }
    }

    ul.active {
      position: relative;
      right: 16rem;
      z-index: 1;
      display: block;
      min-width: 18rem;
      font-size: 12px;
      font-weight: 600;
      background: #FFF;
      border-radius: 4px;
      // transition: all 0.3s ease;
      animation: scroll 0.3s ease;

      li {
        a {
          padding: 1.5rem;
          color: #000;
        }

        p {
          padding: 1.5rem;

          &:hover {
            background-color: #f0f0f0;
            cursor: pointer;
            border-radius: 4px;
          }
        }

        &:hover {
          border-radius: 4px;
          background-color: #f0f0f0;
          color: #000;
        }
      }
    }

    ul {
      display: none;
    }
  }

::ng-deep {
    .user-profile {
        .ant-select-selector {
            min-height: 40px;
            display: flex;
            align-items: center;
        }
    }

    .my-order-filter {
        .ant-picker {
            height: 40px !important;
            width: 100% !important;
            border-radius: 25px;
        }

        .ant-select-selector {
            border-radius: 25px !important;
        }
    }
}
