@use "../../../assets/scss/" as *;

#header {
    // position: fixed;
    height: 8rem;
    display: flex;
    @include flex(center, unset);
    // left: 0;
    // right: 0;
    // z-index: 99;
    background: #FFF;
}

.header {
    &-container {
        @include flex(center, space-between);
    }

    &-left {
        @include flex(center, space-between);

        .logo {
            margin-right: 2rem;

            &:hover {
                cursor: pointer;
            }
        }
    }

    ul {
        @include flex(center, space-between);
    }

    .menu {
        &-item {
            position: relative;
            transition: all .3s ease;

            .links-wrapper {
                padding: 2rem;
            }

            &:hover {
                background: rgba(255,255,255,.12);
                cursor: pointer;
                & .drop-menu {
                    display: block;
                }
            }
        }
    }

    .nav-item {
        font-size: 1.6rem;
        font-weight: 600;
        // color: $main-color;
        line-height: 2rem;
        padding: 1rem 1.5rem;
    }

    .drop-menu {
        display: none;
        position: absolute;
        padding-top: 1rem;
        .links-wrapper {
            white-space: nowrap;
            box-shadow: $box-shadow;
            border-radius: $border-radius;
            position: relative;
            background-color: #FFF;
            z-index: 99;
            min-width: 20rem;
            p {

                font-weight: 600;
                &:not(:last-child) {
                    margin-bottom: 2rem;
                }
                &:hover {
                    color: #e8952f;
                }
            }

            .select-label {
                margin: 0 24px;
                padding: 12px 0 8px;
                font-weight: 500;
                font-size: 16px;
                line-height: 24px;
                color: #343a40;
                border-bottom: 1px solid #ced4da;
            }

            .language-type {
                cursor: pointer;

                &:hover {
                    background-color: #f5f5f5;
                    span {
                        color: #e8952f;
                    }
                }
            }

            .money-type-item {
                cursor: pointer;
                &:hover {
                    background-color: #f5f5f5;
                    .label, .desc {
                        color: #e8952f;
                    }
                }
            }
        }
    }

    &-right {
        .icon-money-language {
            padding: 1rem;

            & ~ .drop-menu {
                display: block;
            }
            
            &:hover {
                background: rgba(255,255,255,.12);
                cursor: pointer;
            }
        }

        .money-type-item {
            padding: 6px 15px;
            .label {
                font-weight: 600;
                font-size: 1.4rem;
                line-height: 1.8rem;
                color: #353c46;
            }

            .desc {
                color: #898994;
                font-size: 1.4rem;
            }
        }

        .language-type {
            padding: 12px 24px;
            font-weight: 500;
            font-size: 14px;
            line-height: 24px;
            color: #343a40;

            img {
                margin-right: 24px;
            }
        }
    }
}

.block-content {
    position: relative;

    .booking-search {
        position: absolute;
        width: 100%;
        bottom: 0;
        z-index: 1000;
        padding-bottom: 40px;
    }

    input {
        color: #717171;
        height: 35px;
        padding-left: 16px;
        margin-left: -16px;
        margin-right: -13px;
        width: calc(100% + 29px);
        font-size: 15px;
        line-height: 18px;
        border: none;
        outline: none;
    }

    .col.col-md-3:not(:last-child) {
        max-width: 275px;
        border-right: 1px dashed #ababab;
    }

    .col.col-md-6:not(:last-child) {
        border-right: 1px dashed #ababab;
    }

    .vp-block {
        height: 32px;
        background: rgba(0,13,43,.2);
        border-radius: 34px;
        margin: 0 auto;
        margin-top: 15px;
        padding: 0 15px;
        width: max-content;
        width: fit-content;

        .item {
            display: flex;
            align-items: center;
            margin: 0 5px;
        }

        .text {
            font-weight: 500;
            font-size: 14px;
            line-height: 17px;
            color: #fff;
            margin-left: 6px;
        }
    }

    .btn-list-passenger {
        font-weight: 600;
        
        &:not(:last-child):after {
            content: " -";
        }
    }
}

::ng-deep {
    .ant-tabs>.ant-tabs-nav {
        margin: 0;
        padding-left: 12px;
    }
    
    .ant-tabs-top>.ant-tabs-nav::before {
        border: none;
    }

    .ant-tabs-card.ant-tabs-top>.ant-tabs-nav .ant-tabs-tab {
        border-radius: 10px 10px 0 0;
        background: rgba(47,46,65,.5);
        color: #fff;
        height: 42px;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 15px;
        margin-right: 6px !important;
        border: none;

        &.ant-tabs-tab-active{
            background-color: #fff;
            
            .ant-tabs-tab-btn {
                color: #e8952f;
            }
        }
    }

    .ant-tabs-content-holder {
        background: #FFF;
        box-shadow: 0 7px 17px #45457f1a;
        border-radius: 10px;
    }

    .ant-row.ant-form-item {
        margin: 0;
        padding: 16px !important;
        // padding-left: 16px!important;
        // padding-right: 13px!important;

        &.active {
            box-shadow: 3px 4px 30px -4px rgb(53 60 70 / 22%);
        }
    }

    .ant-form-item-label span{
        font-weight: 700;
        font-size: 14px;
        line-height: 16px;
        color: #898994;
    }

    .custom-input .ant-form-item-control-input-content {
        position: relative;
    }

    .custom-select-hotel .ant-select-selector .ant-select-selection-item {
        font-weight: 600;
        color: #353c46;
    }

    .custom-input .ant-form-item-control-input-content::before {
        content: '';
        width: 100%;
        height: 22px;
        position: absolute;
        bottom: -21px;
        z-index: 3;
        background-color: #fff;
    }

    .custom-input .ant-form-item-control-input-content::after {
        content: '';
        position: absolute;
        left: 0;
        width: 100%;
        border-bottom: 2px solid #e8952f;
        bottom: 0;
        z-index: 11;
        transition: .3s;
    }

    .ant-select-selector {
        border: none !important;
        box-shadow: none !important;
    }

    .ant-select-item-option-content {
        display: flex;
        align-items: baseline;
        border: 0;
        font-weight: 600;
        font-size: 14px;
        line-height: 17px;
        color: #353c46;
        margin-bottom: 10px;
        width: 100%;
        white-space: unset;
    }

    .ant-select-dropdown {
        width: 272px;
        left: -16px;
    }

    .ant-picker-range .ant-picker-active-bar {
        background: #e8952f;
    }

    .ant-picker-range-separator {
        padding: 0;
    }

    .ant-picker-separator span {
        display: none;
    }

    .ant-picker-separator::before {
        content: "-";
        position: absolute;
        font-size: 15px;
        white-space: nowrap;
        font-weight: 600;
        width: 100%;
        text-align: center;
    }

    .vp-calc {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .btn-custom {
        width: 130px;
        height: 50px;
        font-weight: 600;
        font-size: 16px;
        line-height: 20px;
        text-transform: unset;
    }

    .ant-picker-dropdown {
        left: -24px;
        top: 6px;
    }

    .btn-person-room {
        color: #222!important;
        border: none;
        outline: none;
        box-shadow: none;
    }
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}
