@use "../../../assets/scss/" as *;

#header {
    position: fixed;
    height: 10rem;
    display: flex;
    @include flex(center, unset);
    left: 0;
    right: 0;
    z-index: 99;
    background: #FFF;
}

.header {
    &__container {
        @include flex(center, space-between);
    }

    &__left {
        @include flex(center, space-between);

        .logo {
            margin-right: 2rem;
        }
    }

    ul {
        @include flex(center, space-between);
    }

    .menu {
        &__item {
            position: relative;
            transition: all .3s ease;
            &:hover {
                background: rgba(255,255,255,.12);
                cursor: pointer;
                & .drop__menu {
                    display: block;
                }
            }
        }
    }

    .nav__item {
        font-size: 1.6rem;
        font-weight: 600;
        // color: $main-color;
        line-height: 2rem;
        padding: 1rem 1.5rem;
    }

    .drop__menu {
        display: none;
        position: absolute;
        padding-top: 1rem;
        .links__wrapper {
            white-space: nowrap;
            box-shadow: $box-shadow;
            border-radius: $border-radius;
            position: relative;
            background-color: #FFF;
            padding: 2rem;

            p {

                font-weight: 600;
                &:not(:last-child) {
                    margin-bottom: 2rem;
                }
                &:hover {
                    color: #e8952f;
                }
            }

            .select__label {
                text-transform: uppercase;
                color: #898994;
                font-size: 1.2rem;
                margin-bottom: 1rem;
            }
        }
    }

    &__right {
        .icon__money__language {
            padding: 1rem;

            & ~ .drop__menu {
                display: block;
            }
            
            &:hover {
                background: rgba(255,255,255,.12);
                cursor: pointer;
            }
        }

        .money__type__item {
            .label {
                font-weight: 600;
                font-size: 1.4rem;
                line-height: 1.8rem;
                color: #353c46;
            }

            .desc {
                color: #898994;
                font-size: 1.4rem;
            }
        }
    }
}

.block__content {
    position: relative;

    .booking__search {
        position: absolute;
        width: 100%;
        bottom: 0;
        z-index: 1000;
        padding-bottom: 40px;
    }

    input {
        color: #717171;
        height: 35px;
        padding-left: 16px;
        margin-left: -16px;
        margin-right: -13px;
        width: calc(100% + 29px);
        font-size: 15px;
        line-height: 18px;
        border: none;
        outline: none;
    }

    .col.col-md-3:not(:last-child) {
        max-width: 275px;
        border-right: 1px dashed #ababab;
    }

    .col.col-md-6:not(:last-child) {
        border-right: 1px dashed #ababab;
    }

    .vp-block {
        height: 32px;
        background: rgba(0,13,43,.2);
        border-radius: 34px;
        margin: 0 auto;
        margin-top: 15px;
        padding: 0 15px;
        width: max-content;
        width: fit-content;

        .item {
            display: flex;
            align-items: center;
            margin: 0 5px;
        }

        .text {
            font-weight: 500;
            font-size: 14px;
            line-height: 17px;
            color: #fff;
            margin-left: 6px;
        }
    }

    .btn-list-passenger {
        font-weight: 600;
        
        &:not(:last-child):after {
            content: " -";
        }
    }
}

::ng-deep {
    .ant-tabs>.ant-tabs-nav {
        margin: 0;
        padding-left: 12px;
    }
    
    .ant-tabs-top>.ant-tabs-nav::before {
        border: none;
    }

    .ant-tabs-card.ant-tabs-top>.ant-tabs-nav .ant-tabs-tab {
        border-radius: 10px 10px 0 0;
        background: rgba(47,46,65,.5);
        color: #fff;
        height: 42px;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 15px;
        margin-right: 6px !important;
        border: none;

        &.ant-tabs-tab-active{
            background-color: #fff;
            
            .ant-tabs-tab-btn {
                color: #e8952f;
            }
        }
    }

    .ant-tabs-content-holder {
        background: #FFF;
        box-shadow: 0 7px 17px #45457f1a;
        border-radius: 10px;
    }

    .ant-row.ant-form-item {
        margin: 0;
        padding: 16px !important;
        // padding-left: 16px!important;
        // padding-right: 13px!important;

        &.active {
            box-shadow: 3px 4px 30px -4px rgb(53 60 70 / 22%);
        }
    }

    .ant-form-item-label span{
        font-weight: 700;
        font-size: 14px;
        line-height: 16px;
        color: #898994;
    }

    .custom-input .ant-form-item-control-input-content {
        position: relative;
    }

    .custom-select-hotel .ant-select-selector .ant-select-selection-item {
        font-weight: 600;
        color: #353c46;
    }

    .custom-input .ant-form-item-control-input-content::before {
        content: '';
        width: 100%;
        height: 22px;
        position: absolute;
        bottom: -21px;
        z-index: 3;
        background-color: #fff;
    }

    .custom-input .ant-form-item-control-input-content::after {
        content: '';
        position: absolute;
        left: 0;
        width: 100%;
        border-bottom: 2px solid #e8952f;
        bottom: 0;
        z-index: 11;
        transition: .3s;
    }

    .ant-select-selector {
        border: none !important;
        box-shadow: none !important;
    }

    .ant-select-item-option-content {
        display: flex;
        align-items: baseline;
        border: 0;
        font-weight: 600;
        font-size: 14px;
        line-height: 17px;
        color: #353c46;
        margin-bottom: 10px;
        width: 100%;
        white-space: unset;
    }

    .ant-select-dropdown {
        width: 272px;
        left: -16px;
    }

    .ant-picker-range .ant-picker-active-bar {
        background: #e8952f;
    }

    .ant-picker-range-separator {
        padding: 0;
    }

    .ant-picker-separator span {
        display: none;
    }

    .ant-picker-separator::before {
        content: "-";
        position: absolute;
        font-size: 15px;
        white-space: nowrap;
        font-weight: 600;
        width: 100%;
        text-align: center;
    }

    .btn-person {
        width: 30px;
        height: 30px;
        margin-top: 0;
        border: 0;
        color: #e29a38;
        line-height: 18px;
        background: rgba(232,149,47,.1);
        display: flex;
        align-items: center;
        justify-content: center;

        &-room {
            user-select: none;
        }

        &.left {
            background: rgba(232,149,47,.1)!important;
        }

        &.right {
            background: #e8952f!important;
        }
    }

    .input-person {
        font-weight: 600;
        font-size: 16px;
        line-height: 20px;
        color: #343a40;
        width: 38px;
        text-align: center;
        border: none;
        outline: none;
        pointer-events: none;
    }

    .dropdown-person {
        width: 352px;
        margin-top: 9px;
        box-shadow: 3px 4px 30px -4px rgb(53 60 70/22%);
        border-radius: 0 0 10px 10px;
        padding: 0 16px;
        padding-top: 20px;
        background-color: #fff;
    }

    .room {
        &__item {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding-bottom: 12px;
            border-bottom: 1px solid #edf1f2;
        }

        &__detail {
            padding: 12px 0 15px;
            border-bottom: 1px solid #edf1f2;
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            flex-direction: column;

            .label {
                font-style: normal;
                font-weight: 400;
                font-size: 12px;
                line-height: 22px;
                color: #9d9d9d;
                padding-top: 10px;
                margin-bottom: unset;
            }

            .label.title {
                font-weight: 600;
                font-size: 13px;
                line-height: 16px;
                color: #898994;
                padding: 0;
            }

            &--info {
                margin: 0;
                border-top: 1px solid #edf1f2;

                p {
                    margin: 0;
                    padding: 12px 0;
                    line-height: 18px;
                    color: #898994;
                    font-style: italic;
                }
            }
        }
    }

    .number__select {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin: 16px 0;

        &--type {
            display: flex;
            flex-direction: column;

            .info {
                text-align: center;
                padding: 0;
                font-size: 13px;
                line-height: 16px;
                color: #898994;
                margin-bottom: 7px;
            }
        }
    }

    .vp-calc {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .btn-custom {
        width: 130px;
        height: 50px;
        font-weight: 600;
        font-size: 16px;
        line-height: 20px;
        text-transform: unset;
    }

    .ant-picker-dropdown {
        left: -24px;
        top: 6px;
    }

    .btn-person-room {
        color: #222!important;
        border: none;
        outline: none;
        box-shadow: none;
    }
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}
