<div id="header" class="header">
    <div class="container">
        <div class="header-container">
            <div class="header-left">
                <div class="logo" (click)="navigateToHome()">
                    <!-- <img class="main-logo" src="../../../assets/images/icon/vp.svg" alt=""> -->
                    <img class="main-logo" src="../../../assets/icon/vp-logo-blue.svg" alt="">
                    <!-- <img class="d-none" src="../../../assets/images/icon/icon_vp_w.svg" alt=""> -->
                </div>
                <div class="menu">
                    <ul>
                        <li [routerLink]="data.navigate" class="menu-item" *ngFor="let data of nav_list">
                            <div class="nav-item">{{data.name}}</div>
                            <div *ngIf="data.child" class="drop-menu">
                                <div class="links-wrapper">
                                    <p *ngFor="let dropMenu of data.child">{{dropMenu}}</p>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="header-right">
                <ul>
                    <li>
                        <div class="d-flex align-items-center justify-content-between">
                            <div class="icon-money-language icon">
                                <img src="../../../assets/images/icon/search-icon-white.svg" alt="">
                                <img class="d-none" src="../../../assets/images/icon/search-icon-gray.svg" alt="">
                            </div>
                            <div class="money">
                                <div id="money-name" (click)="handleShowDrop('money')" class="icon-money-language nav-item">VND</div>
                                <div *ngIf="showDropMoney" class="drop-menu">
                                    <div class="links-wrapper">
                                        <div class="select-label">
                                            {{'header.money' | translate}}
                                        </div>
                                        <div class="d-flex align-items-center justify-content-center">
                                            <div class="money-type-item">
                                                <div class="label">{{'header.usd.label' | translate}}</div>
                                                <div class="desc">{{'header.usd.desc' | translate}}</div>
                                            </div>
                                            <div class="money-type-item">
                                                <div class="label">{{'header.vnd.label' | translate}}</div>
                                                <div class="desc">{{'header.vnd.desc' | translate}}</div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="language">
                                <div id="language-name" (click)="handleShowDrop('language')" class="icon-money-language language-name">
                                    <img *ngIf="currentLang === 'vi'" src="../../../assets/images/icon/flag-vie.webp" alt="Việt nam">
                                    <img *ngIf="currentLang === 'en'" src="../../../assets/images/icon/flag-en.webp" alt="Việt nam">
                                </div>
                                <div *ngIf="showDropLanguage" class="drop-menu">
                                    <div class="links-wrapper">
                                        <div class="select-label">
                                            {{'header.language' | translate}}
                                        </div>
                                        <div (click)="changeLanguage('vi')" class="language-type">
                                            <img src="../../../assets/images/icon/flag-vie.webp" alt="Việt nam">
                                            <span>{{'header.vietnamese' | translate}}</span>
                                        </div>
                                        <div (click)="changeLanguage('en')" class=" language-type">
                                            <img src="../../../assets/images/icon/flag-en.webp" alt="Mỹ">
                                            <span>{{'header.english' | translate}}</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </li>
                    <li>
                        <a *ngIf="!fullName" [routerLink]="'/auth/login'" class="login">
                            <span style="font-weight: 600;">{{'header.login.title' | translate}}</span>
                        </a>
                        <div *ngIf="fullName">
                            <span nz-dropdown [nzDropdownMenu]="menu" style="font-weight: 600; cursor: pointer;">{{fullName}}</span>
                            <nz-dropdown-menu #menu="nzDropdownMenu">
                                <ul nz-menu>
                                  <li nz-menu-item (click)="navigateUserProfile(1)">Thông tin tài khoản</li>
                                  <li nz-menu-item (click)="navigateUserProfile(2)">Đơn hàng của tôi</li>
                                  <li nz-menu-item (click)="navigateUserProfile(3)">Thêm bài viết mới</li>
                                  <li nz-menu-item (click)="navigateUserProfile(4)">Bài viết của tôi</li>
                                  <li nz-menu-item (click)="navigateUserProfile(5)">Đăng xuất</li>
                                </ul>
                              </nz-dropdown-menu>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
