<div id="block-homepage-banner">
    <div class="block__content">
        <!-- <div class="video">
            <video [autoplay]="false" muted playsinline loop draggable="true" src="https://statics.vinpearl.com/Short15s_1920x1080_Final_1659170954.mp4" poster="https://statics.vinpearl.com/styles/1920x542/public/2022_07/banner-desktop_1659157151.jpeg.webp?itok=cEY4EZLQ"></video>
        </div> -->
        <div class="container">
            <div class="title-desc">
                <div class="title">{{'banner.title' | translate}}</div>
                <div class="desc">{{'banner.desc' | translate}}</div>
                <div class="g-mt-30">
                    <button nz-button nzType="primary">{{'banner.btn' | translate}}</button>
                </div>
            </div>
            <div class="booking__search">
                <div class="card-container">
                    <nz-tabset (nzSelectedIndexChange)="selectedIndexChange($event)" nzType="card">
                      <nz-tab *ngFor="let bookingType of bookingTypes; let i = index" [nzTitle]="titleTemplate">
                        <ng-template #titleTemplate>
                            <img src="../../../../assets/icon/{{indexTab == i ? bookingType.iconActive :bookingType.icon}}.svg" style="margin-right: 4px" alt="">
                            <a target=";"></a>
                            {{ bookingType.name }}
                        </ng-template>
                        <div *ngIf="bookingType.id == 0">
                            <app-hotel-resort></app-hotel-resort>
                        </div>
                        <div *ngIf="bookingType.id == 1">
                            <!-- <p style="padding: 36px; text-align: center; font-weight: 600;">Phần này chưa được hoàn thiện</p> -->
                            <app-hotel-flight></app-hotel-flight>
                        </div>
                        <div *ngIf="bookingType.id == 2">
                            <app-tour></app-tour>
                        </div>
                      </nz-tab>
                    </nz-tabset>
                </div>
                <div class="d-flex justify-content-center align-items-center vp-block">
                    <div class="item">
                        <img src="https://statics.vinpearl.com/icon_dolar_1658998473.svg" alt="">
                        <div class="text">Đảm bảo giá tốt nhất</div>
                    </div>
                    <div class="item">
                        <img src="https://statics.vinpearl.com/icon_shield_1658998565.svg" alt="">
                        <div class="text">Hoàn hủy linh hoạt</div>
                    </div>
                    <div class="item">
                        <img src="https://statics.vinpearl.com/icon_clock_1658998574.svg" alt="">
                        <div class="text">Hỗ trợ 24/7</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="block-homepage-destination">
    <div class="block-content">
        <div class="destination-block">
            <div class="container">
                <h2 class="homepage-title">{{'destination.title' | translate}}</h2>
                <div class="row">
                    <div class="col-md-3">
                        <a (click)="searchTour(1)">
                            <div class="gradient-image">
                                <img src="../../../assets/images/home/diem-den-pho-bien-01.73404b25.png" alt="Nha Trang">
                                <span>{{'destination.nhaTrang' | translate}}</span>
                            </div>
                        </a>
                    </div>
                    <div class="col col-md-3">
                        <a (click)="searchTour(3)">
                            <div class="gradient-image">
                                <img src="../../../assets/images/home/diem-den-pho-bien.80cdaffe.png" alt="Da Nang">
                                <span>{{'destination.daNang' | translate}}</span>
                            </div>
                        </a>
                    </div>
                    <div class="col col-md-3">
                        <a (click)="searchTour(2)">
                            <div class="gradient-image">
                                <img src="../../../assets/images/home/diem-den-pho-bien-02.8f7a6189.png" alt="Phu Quoc">
                                <span>{{'destination.phuQuoc' | translate}}</span>
                            </div>
                        </a>
                    </div>
                    <div class="col col-md-3">
                        <a (click)="searchTour(4)">
                            <div class="gradient-image">
                                <img src="../../../assets/images/home/diem-den-pho-bien.80cdaffe.png" alt="Hoi An">
                                <span>{{'destination.hoiAn' | translate}}</span>
                            </div>
                        </a>
                    </div>
                </div> 
            </div>
        </div>
    </div>
</div>
<div id="block-homepage-experience">
    <div class="block-content">
        <div class="experience-block">
            <div class="container">
                <h2 class="homepage-title">{{'experience.title' | translate}}</h2>
                <!-- <nz-carousel nzAutoPlay [nzEffect]="effect">
                    <div nz-carousel-content *ngFor="let index of array">
                      <h3>{{ index }}</h3>
                    </div>
                </nz-carousel> -->
                <div class="d-flex flex-wrap justify-content-between">
                    <div class="exp-item _741x500">
                        <div class="experience-item">
                            <div class="img-wrapper">
                                <img src="../../../assets/images/home/Hotels & Resort_1673079062.png.webp" alt="">
                            </div>
                            <div class="info-wrapper">
                                <div class="experience-item-title">{{'experience.hotel' | translate}}</div>
                                <div class="experience-item-desc">{{'experience.hotelDesc' | translate}}</div>
                                <div class="experience-item-dis">
                                    <a href="/">{{'discover.title' | translate}}</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="exp-item _409x500">
                        <div class="experience-item">
                            <div class="img-wrapper">
                                <img src="../../../assets/images/home/Amusement Park_1673079085.png.webp" alt="">
                            </div>
                            <div class="info-wrapper">
                                <div class="experience-item-title">{{'experience.entertainment' | translate}}</div>
                                <div class="experience-item-desc">{{'experience.entertainmentDesc' | translate}}</div>
                                <div class="experience-item-dis">
                                    <a href="/">{{'discover.title' | translate}}</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="exp-item _409x500">
                        <div class="experience-item">
                            <div class="img-wrapper">
                                <img src="../../../assets/images/home/Meetings & Events_1673975369.png.webp" alt="">
                            </div>
                            <div class="info-wrapper">
                                <div class="experience-item-title">{{'experience.meeting' | translate}}</div>
                                <div class="experience-item-desc">{{'experience.meetingDesc' | translate}}</div>
                                <div class="experience-item-dis">
                                    <a href="/">{{'discover.title' | translate}}</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="exp-item _741x500">
                        <div class="experience-item">
                            <div class="img-wrapper">
                                <img src="../../../assets/images/home/Golf_1673079129.png.webp" alt="">
                            </div>
                            <div class="info-wrapper">
                                <div class="experience-item-title">{{'experience.golf' | translate}}</div>
                                <div class="experience-item-desc">{{'experience.golfDesc' | translate}}</div>
                                <div class="experience-item-dis">
                                    <a href="/">{{'discover.title' | translate}}</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="block-homepage-discover">
    <div class="block-content">
        <div class="discover-block">
            <div class="container">
                <div class="row">
                    <div class="col col-md-4">
                        <div class="title-wrapper">
                            <h2 class="homepage-title">{{'discover.title' | translate}}</h2>
                            <div class="desc">{{'discover.desc' | translate}}</div>
                        </div>
                        <div class="item-wrapper">
                            <a href="/">
                                <div class="img-wrapper">
                                    <img src="../../../assets/images/home/Family Fun_1672982530.jpg" alt="">
                                </div>
                                <div class="item-info">
                                    <div class="item-title">{{'discover.family' | translate}}</div>
                                    <div class="item-desc">{{'discover.familyDesc' | translate}}</div>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="col col-md-4">
                        <div class="item-wrapper">
                            <a href="/">
                                <div class="img-wrapper">
                                    <img src="../../../assets/images/home/Rectangle 2824-min_1674018589.jpg" alt="">
                                </div>
                                <div class="item-info">
                                    <div class="item-title">{{'discover.golf' | translate}}</div>
                                    <div class="item-desc">{{'discover.golfDesc' | translate}}</div>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="col col-md-4 column-3">
                        <div class="item-wrapper _3">
                            <a href="/">
                                <div class="img-wrapper">
                                    <img src="../../../assets/images/home/Wellness & Retreat ( Adventure awaits )_1672982572.jpg" alt="">
                                </div>
                                <div class="item-info">
                                    <div class="item-title">{{'discover.health' | translate}}</div>
                                    <div class="item-desc">{{'discover.healthDesc' | translate}}</div>
                                </div>
                            </a>
                        </div>
                        <div class="item-wrapper _4">
                            <a href="/">
                                <div class="img-wrapper">
                                    <img src="../../../assets/images/home/Group 45522-min_1674018616.jpg" alt="">
                                </div>
                                <div class="item-info">
                                    <div class="item-title">{{'discover.mice' | translate}}</div>
                                    <div class="item-desc">{{'discover.miceDesc' | translate}}</div>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="block-homepage-promo">
    <div class="block-content">
        <div class="promo-block">
            <div class="container">
                <div class="title-wrapper">
                    <h2 class="homepage-title">{{'promo.title' | translate}}</h2>
                    <a href="/">{{'promo.more' | translate}}</a>
                </div>
                <div class="promo-items">
                    <swiper
                        [slidesPerView]="3"
                        [spaceBetween]="50"
                        (swiper)="onSwiper($event)"
                        (slideChange)="onSlideChange()"
                        >
                        <ng-template swiperSlide>
                            <div class="img-wrapper">
                                <img src="https://statics.vinpearl.com/styles/378x250/public/2023_01/uu-dai-cho-hoi-vien-pearl-club-banner_1673258626.jpg.webp?itok=LT9UjPBM" alt="">
                            </div>
                            <div class="item-title three_dots_2">
                                <a href="/">Chào đón năm mới, ưu đãi ngợp trời dành riêng cho hội viên Pearl Club</a>
                            </div>
                        </ng-template>
                        <ng-template swiperSlide>
                            <div class="img-wrapper">
                                <img src="https://statics.vinpearl.com/styles/378x250/public/2023_01/uu-dai-cho-hoi-vien-pearl-club-banner_1673258626.jpg.webp?itok=LT9UjPBM" alt="">
                            </div>
                            <div class="item-title three_dots_2">
                                <a href="/">Chào đón năm mới, ưu đãi ngợp trời dành riêng cho hội viên Pearl Club</a>
                            </div>
                        </ng-template>
                        <ng-template swiperSlide>
                            <div class="img-wrapper">
                                <img src="https://statics.vinpearl.com/styles/378x250/public/2023_01/uu-dai-cho-hoi-vien-pearl-club-banner_1673258626.jpg.webp?itok=LT9UjPBM" alt="">
                            </div>
                            <div class="item-title three_dots_2">
                                <a href="/">Chào đón năm mới, ưu đãi ngợp trời dành riêng cho hội viên Pearl Club</a>
                            </div>
                        </ng-template>
                    </swiper>
                </div>
            </div>
        </div>
    </div>
</div>