<div class="container">
    <div class="row">
        <div class="col-lg-8">
            <div class="progress-bar-custom">
                <div *ngIf="currentTab == 1" (click)="selectRoomAgagin()" class="select-room-again">
                    <img src="../../../../assets/icon/fi-rr-angle-small-left.c7c34bf2.svg" alt="">
                    Chọn phòng
                </div>
                <div *ngIf="currentTab == 2" (click)="navigateHome()" class="select-room-again">
                    <img src="../../../../assets/icon/fi-rr-angle-small-left.c7c34bf2.svg" alt="">
                    Về Trang chủ
                </div>
                <nz-steps [nzCurrent]="currentTab" nzSize="small">
                    <nz-step nzTitle="Chọn phòng">Chọn phòng</nz-step>
                    <nz-step nzTitle="Thanh toán">Thanh toán</nz-step>
                </nz-steps>
            </div>
        </div>
    </div>
    <div *ngIf="currentTab == 1" class="row">
        <div class="col-lg-8">
            <form nzLayout="vertical" class="payment-form" nz-form [formGroup]="formHotel">
                <nz-card class="contact-info" nzTitle="Thông tin người đặt chỗ">
                    <div class="ant-row">
                        <div class="ant-col ant-col-md-24 gender">
                            <nz-form-item>
                                <nz-form-label nzRequired [nzSpan]="4" nzFor="gender">Danh xưng</nz-form-label>
                                <nz-form-control [nzSpan]="16">
                                    <nz-radio-group formControlName="gender">
                                        <label nz-radio nzValue="1">Ông</label>
                                        <label nz-radio nzValue="2">Bà</label>
                                        <label nz-radio nzValue="3">Khác</label>
                                      </nz-radio-group>
                                </nz-form-control>
                                <div *ngIf="this.formHotel.controls['gender'].invalid && (this.formHotel.controls['gender'].dirty || this.formHotel.controls['gender'].touched)">
                                    <div class="error" *ngIf="this.formHotel.controls['gender'].hasError('required')">
                                        Vui lòng chọn Danh xưng
                                    </div>
                                </div>
                            </nz-form-item >
                        </div>
                        <div class="ant-col ant-col-md-12">
                            <nz-form-item>
                                <nz-form-label nzRequired [nzSpan]="22" nzFor="name">Họ và tên</nz-form-label>
                                <nz-form-control [nzSpan]="22">
                                    <input placeholder="Nguyễn Văn A" nz-input formControlName="name" name="name" type="name" id="name">
                                </nz-form-control>
                                <div *ngIf="this.formHotel.controls['name'].invalid && (this.formHotel.controls['name'].dirty || this.formHotel.controls['name'].touched)">
                                    <div class="error" *ngIf="this.formHotel.controls['name'].hasError('required')">
                                        Vui lòng nhập Họ và tên
                                    </div>
                                    <div class="error" *ngIf="this.formHotel.controls['name'].hasError('maxLength')">
                                        Họ và tên tối đa 255 ký tự
                                    </div>
                                </div>
                            </nz-form-item >
                        </div>
                        <div class="ant-col ant-col-md-12">
                            <nz-form-item>
                                <nz-form-label nzRequired [nzSpan]="22" nzFor="phone">Điện thoại</nz-form-label>
                                <nz-form-control [nzSpan]="22">
                                    <input nz-input formControlName="phone" name="phone" type="phone" id="phone">
                                </nz-form-control>
                                <div *ngIf="this.formHotel.controls['phone'].invalid && (this.formHotel.controls['phone'].dirty || this.formHotel.controls['phone'].touched)">
                                    <div class="error" *ngIf="this.formHotel.controls['phone'].hasError('required')">
                                        Vui lòng nhập Số điện thoại
                                    </div>
                                    <div class="error" *ngIf="this.formHotel.controls['phone'].hasError('pattern')">
                                        Số điện thoại không đúng định dạng
                                    </div>
                                </div>
                            </nz-form-item >
                        </div>
                        <div class="ant-col ant-col-md-12">
                            <nz-form-item>
                                <nz-form-label nzRequired [nzSpan]="22" nzFor="email">Email nhận thông tin đơn hàng</nz-form-label>
                                <nz-form-control [nzSpan]="22">
                                    <input placeholder="abc@xxx.com" nz-input formControlName="email" name="email" type="email" id="email">
                                </nz-form-control>
                                <div *ngIf="this.formHotel.controls['email'].invalid && (this.formHotel.controls['email'].dirty || this.formHotel.controls['email'].touched)">
                                    <div class="error" *ngIf="this.formHotel.controls['email'].hasError('required')">
                                        Vui lòng nhập Email
                                    </div>
                                    <div class="error" *ngIf="this.formHotel.controls['email'].hasError('maxLength')">
                                        Độ dài Email tối đa 255 ký tự
                                    </div>
                                    <div class="error" *ngIf="this.formHotel.controls['email'].hasError('pattern')">
                                      Email không đúng định dạng
                                  </div>
                                </div>
                            </nz-form-item >
                        </div>
                        <div class="ant-col ant-col-md-12">
                            <nz-form-item>
                                <nz-form-label nzRequired [nzSpan]="22" nzFor="nationality">Vùng quốc gia</nz-form-label>
                                <nz-form-control [nzSpan]="22">
                                    <input formControlName="nationality" name="nationality" type="nationality" id="nationality"  nz-input>
                                </nz-form-control>
                            </nz-form-item >
                        </div>
                    </div>
                    <div class="ant-row">
                        <div class="ant-col ant-col-md-24">
                            <div class="vpt-checkbox-hotel">
                                <label nz-checkbox formControlName="checkResident">Tôi là khách lưu trú</label>
                            </div>
                        </div>
                    </div>
                    <div class="ant-row">
                        <div class="ant-col ant-col-md-24">
                            <div class="special-requirements">Yêu cầu đặc biệt</div>
                            <nz-form-item>
                                <span class="special-requirements-desc">Các yêu cầu đặc biệt không đảm bảo sẽ được đáp ứng - tuy nhiên, chúng tôi sẽ cố gắng hết sức để thực hiện</span>
                                <nz-form-control [nzSpan]="20">
                                    <nz-checkbox-wrapper (nzOnChange)="log($event)">
                                        <div nz-row>
                                            <div nz-col nzSpan="12">
                                                <label class="special-requirements-checkbox" nz-checkbox nzValue="Tầng cao">Tầng cao</label>
                                            </div>
                                            <div nz-col nzSpan="12">
                                                <label class="special-requirements-checkbox" nz-checkbox nzValue="Không hút thuốc">Không hút thuốc</label>
                                            </div>
                                            <div nz-col nzSpan="12">
                                                <label class="special-requirements-checkbox" nz-checkbox nzValue="Hỗ trợ cho người khuyết tật">Hỗ trợ cho người khuyết tật</label>
                                            </div>
                                            <div nz-col nzSpan="12">
                                                <label class="special-requirements-checkbox" nz-checkbox nzValue="Thời gian trả phòng linh hoạt">Thời gian trả phòng linh hoạt</label>
                                            </div>
                                        </div>
                                      </nz-checkbox-wrapper>
                                      <textarea formGroupName="textarea" placeholder="Hãy cho chúng tôi biết quý khách cần gì" rows="2" style="width: 100%;" nz-input></textarea>
                                </nz-form-control>
                            </nz-form-item >
                        </div>
                    </div>
                </nz-card>
                <nz-card nzTitle="Phương thức thanh toán">
                    <nz-radio-group formGroupName="payment">
                        <label class="payment-method" nz-radio nzValue="1">Thẻ/tài khoản ngân hàng (ATM nội địa/quốc tế)</label>
                        <label class="payment-method" nz-radio nzValue="2">Thẻ tín dụng/ghi nợ quốc tế (Visa/Master/JCB)</label>
                        <label class="payment-method" nz-radio nzValue="3">Thanh toán bằng mã QR</label>
                        <label class="payment-method" nz-radio nzValue="4">Thanh toán bằng ví điện tử</label>
                        <label class="payment-method" nz-radio nzValue="5">Thanh toán trả góp</label>
                        <label class="payment-method" nz-radio nzValue="6">Thanh toán tại khách sạn</label>
                      </nz-radio-group>
                </nz-card>
                <div class="check-policy">
                    <span>
                        Khi nhấp vào "Thanh toán", bạn đồng ý cung cấp các thông tin trên và đồng ý với các
                        <span><a href="/vi-VND/dieu-khoan/dieu-khoan-chung">điều khoản, điều kiện</a></span>
                        và
                        <span><a href="/vi-VND/dieu-khoan/chinh-sach-quyen-rieng-tu">chính sách quyền riêng tư</a></span>
                        của Vinpearl.
                    </span>
                </div>
                <div class="btn-groups flex-column-end">
                    <button (click)="submitForm()" class="btn-payment" nz-button nzType="primary">Thanh toán</button>
                </div>
            </form>
        </div>
        <div class="col-lg-4">
            <app-hotel-summary [typeBooking]="typeBooking" [detailRoom]="detailRoom" [detailTour]="detailTour"></app-hotel-summary>
        </div>
    </div>
    <div *ngIf="currentTab == 2" class="row">
        <div *ngIf="detailBookingRoom" class="detail-order">
            <div class="detail-order-title">Chi tiết đơn hàng</div>
            <div class="detail-order-box">
                <div class="detail-order-box-item">
                    <span class="label">Mã đơn hàng:</span>
                    <span class="value">{{detailBookingRoom?.code}}</span>
                </div>
                <div class="detail-order-box-item">
                    <span class="label">Trạng thái:</span>
                    <span class="value">
                        <span *ngIf="paymentStatus == '24'" class="my-order-status fail">Đã hủy</span>
                        <span *ngIf="paymentStatus == '00'" class="my-order-status success">Thành công</span>
                        <!-- <span *ngIf="paymentStatus == 2" class="my-order-status pending">Đã hoàn</span>
                        <span *ngIf="paymentStatus == 3" class="my-order-status pending">Chờ xử lý</span> -->
                    </span>
                </div>
                <div class="detail-order-box-item">
                    <span class="label">Tổng tiền thanh toán:</span>
                    <span class="value">{{detailBookingRoom?.paymentAmount | format}} đ</span>
                </div>
            </div>
            <div class="detail-order-title">Thông tin người đặt</div>
            <div class="detail-order-box">
                <div class="detail-order-box-item">
                    <span class="label">Tên khách hàng:</span>
                    <span class="value">{{detailBookingRoom?.customer.fullName}}</span>
                </div>
                <div class="detail-order-box-item">
                    <span class="label">Email khách hàng:</span>
                    <span class="value">{{detailBookingRoom?.customer.email}}</span>
                </div>
                <div class="detail-order-box-item">
                    <span class="label">Số điện thoại:</span>
                    <span class="value">{{detailBookingRoom?.customer.phone}}</span>
                </div>
                <div class="detail-order-box-item">
                    <span class="label">Thời gian giao dịch:</span>
                    <span class="value">{{detailBookingRoom?.paymentDate | date : "HH:mm dd/MM/YYYY"}}</span>
                </div>
            </div>
            <div class="detail-order-title">Thông tin đơn hàng</div>
            <div class="detail-order-box">
                <div class="d-flex flex-column flex-md-row">
                    <div class="item-image">
                        <img [src]="detailBookingRoom?.hotel.images[0].path" alt="">
                    </div>
                    <div class="name-desc">
                        <div class="name">{{detailBookingRoom?.hotel.name}}</div>
                        <div class="desc">
                            <div>{{detailBookingRoom?.hotel.address}}</div>
                            <div></div>
                        </div>
                        <div class="alert">
                            <div></div>
                            <div class="text-center">
                                <div>Nhận phòng</div>
                                <div style="font-size: 20px;">{{detailBookingRoom?.checkIn | date: "dd/MM/YYYY"}}</div>
                                <div>{{detailBookingRoom?.checkIn | date: "HH:mm"}}</div>
                            </div>
                            <img src="../../../../assets/icon/Hotel.3f6dc87f.svg" alt="">
                            <div>
                                <div>Nhận phòng</div>
                                <div style="font-size: 20px;">{{detailBookingRoom?.checkOut | date: "dd/MM/YYYY"}}</div>
                                <div>{{detailBookingRoom?.checkOut | date: "HH:mm"}}</div>
                            </div>
                            <div></div>
                        </div>
                        <div class="detail-order-box-item">
                            <span class="label">Số lượng phòng:</span>
                            <span class="value">01</span>
                        </div>
                        <div class="detail-order-box-item">
                            <span class="label">Số lượng:</span>
                            <span class="value">
                                <span *ngIf="detailBookingRoom?.numberAdult < 10 && detailBookingRoom?.numberAdult > 0">{{detailBookingRoom?.numberAdult}} Người lớn</span>
                                <span *ngIf="detailBookingRoom?.numberAdult >= 10">{{detailBookingRoom?.numberAdult}} Người lớn</span>
                                <span *ngIf="detailBookingRoom?.numberChildren < 10 && detailBookingRoom?.numberChildren > 0">, {{detailBookingRoom?.numberChildren}} Trẻ em</span>
                                <span *ngIf="detailBookingRoom?.numberChildren >= 10">, {{detailBookingRoom?.numberChildren}} Người lớn</span>
                            </span>
                        </div>
                    </div>
                </div>
                <div class="content">
                    <hr>
                    <div class="title">
                        1x {{detailBookingRoom?.hotel.name}}
                    </div>
                    <div style="color: #2a398c;">
                        {{detailBookingRoom?.hotel.name}}
                    </div>
                    <div class="detail-order-box-item">
                        <span class="label">Tên gói:</span>
                        <span class="value">{{detailBookingRoom?.service.name}}</span>
                    </div>
                    <div class="detail-order-box-item">
                        <span class="label">Thông tin gói phòng:</span>
                        <span class="value">{{detailBookingRoom?.service.name}}</span>
                    </div>
                    <div class="detail-order-box-item">
                        <span class="label">Số lượng:</span>
                        <span class="value">
                            <span class="value">
                                <span *ngIf="detailBookingRoom?.numberAdult < 10 && detailBookingRoom?.numberAdult > 0">{{detailBookingRoom?.numberAdult}} Người lớn</span>
                                <span *ngIf="detailBookingRoom?.numberAdult >= 10">{{detailBookingRoom?.numberAdult}} Người lớn</span>
                                <span *ngIf="detailBookingRoom?.numberChildren < 10 && detailBookingRoom?.numberChildren > 0">, {{detailBookingRoom?.numberChildren}} Trẻ em</span>
                                <span *ngIf="detailBookingRoom?.numberChildren >= 10">, {{detailBookingRoom?.numberChildren}} Người lớn</span>
                            </span>
                        </span>
                    </div>
                    <div class="detail-order-box-item">
                        <span class="label">Chính sách hoàn hủy:</span>
                        <span class="value">Không hoàn/ hủy</span>
                    </div>
                </div>
            </div>
            <div *ngIf="typeBooking == 'tour'" class="detail-order-box">
                <div class="d-flex flex-column flex-md-row">
                    <div class="item-image">
                        <img [src]="detailBookingRoom?.hotel.images[0].path" alt="">
                    </div>
                    <div class="name-desc">
                        <div class="name">{{detailBookingRoom?.hotel.name}}</div>
                        <div class="desc">
                            <div>Bao gồm: </div>
                            <div></div>
                        </div>
                    </div>
                </div>
                <hr>
                <div class="content">
                    <div class="title">
                        Địa điểm áp dụng:
                    </div>
                    <div style="color: #2a398c;">
                        {{detailBookingRoom?.hotel.name}}
                    </div>
                    <div class="d-flex flex-wrap">
                        <div class="icon">
                            <img src="../../../../assets/images/icon/TimeCircle.53a32bfd.svg" alt="">
                        </div>
                        <div class="date-value">
                            <span>Ngày đến: </span>
                            <span style="font-weight: 600;">17/12/2022</span>
                        </div>
                        <div> - </div>
                        <div class="date-value">
                            <span>Ngày về: </span>
                            <span style="font-weight: 600;">20/12/2022</span>
                        </div>
                    </div>
                    <div class="d-flex flex-wrap">
                        <div class="icon">
                            <img src="../../../../assets/images/icon/feather_calendar.c217ce06.svg" alt="">
                        </div>
                        <div class="date-value">
                            <span>Ngày đặt trước: </span>
                            <span style="font-weight: 600;">15 ngày trước ngày sử dụng dịch vụ</span>
                        </div>
                    </div>
                    <div class="d-flex flex-wrap">
                        <div class="icon">
                            <img src="../../../../assets/images/icon/TimeCircle.53a32bfd.svg" alt="">
                        </div>
                        <div class="date-value">
                            <span>Hạn sử dụng: </span>
                            <span style="font-weight: 600;">27/11/2022</span>
                        </div>
                    </div>
                    <div class="d-flex flex-wrap">
                        <div class="icon">
                            <img src="../../../../assets/images/icon/3 User.c77913ee.svg" alt="">
                        </div>
                        <div class="date-value">
                            <span>Số lượng: </span>
                            <span style="font-weight: 600;">{{detailBookingRoom?.numberAdult + detailBookingRoom?.numberChildren}}</span>
                        </div>
                    </div>
                    <div class="d-flex flex-wrap">
                        <div class="icon">
                            <img src="../../../../assets/images/icon/Barcode.182ad4c7.svg" alt="">
                        </div>
                        <div class="date-value">
                            <span>Mã kiểm tra: </span>
                            <span style="font-weight: 600;"></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div *ngIf="detailBookingTour" class="detail-order">
            <div class="detail-order-title">Chi tiết đơn hàng</div>
            <div class="detail-order-box">
                <div class="detail-order-box-item">
                    <span class="label">Mã đơn hàng:</span>
                    <span class="value">{{detailBookingTour?.code}}</span>
                </div>
                <div class="detail-order-box-item">
                    <span class="label">Trạng thái:</span>
                    <span class="value">
                        <span *ngIf="paymentStatus == '24'" class="my-order-status fail">Đã hủy</span>
                        <span *ngIf="paymentStatus == '00'" class="my-order-status success">Thành công</span>
                        <!-- <span *ngIf="paymentStatus == 2" class="my-order-status pending">Đã hoàn</span>
                        <span *ngIf="paymentStatus == 3" class="my-order-status pending">Chờ xử lý</span> -->
                    </span>
                </div>
                <div class="detail-order-box-item">
                    <span class="label">Tổng tiền thanh toán:</span>
                    <span class="value">{{detailBookingTour?.paymentAmount | format}} đ</span>
                </div>
            </div>
            <div class="detail-order-title">Thông tin người đặt</div>
            <div class="detail-order-box">
                <div class="detail-order-box-item">
                    <span class="label">Tên khách hàng:</span>
                    <span class="value">{{detailBookingTour?.customer.fullName}}</span>
                </div>
                <div class="detail-order-box-item">
                    <span class="label">Email khách hàng:</span>
                    <span class="value">{{detailBookingTour?.customer.email}}</span>
                </div>
                <div class="detail-order-box-item">
                    <span class="label">Số điện thoại:</span>
                    <span class="value">{{detailBookingTour?.customer.phone}}</span>
                </div>
                <div class="detail-order-box-item">
                    <span class="label">Thời gian giao dịch:</span>
                    <span class="value">{{detailBookingTour?.paymentDate | date : "HH:mm dd/MM/YYYY"}}</span>
                </div>
            </div>
            <div class="detail-order-title">Thông tin đơn hàng</div>
            <div class="detail-order-box">
              <div class="d-flex flex-column flex-md-row">
                <div class="item-image">
                    <img [src]="detailBookingTour.tour.images[0]?.path" alt="">
                </div>
                <div class="name-desc">
                    <div class="name">{{detailBookingTour.tour.name}}</div>
                    <div>
                        <div class="include">Bao gồm: </div>
                        <div class="include1" [innerHTML]="detailBookingTour.tour.inclusion.slice(0, 800)"></div>
                    </div>
                    <div class="show-more">
                      <div class="btn">Xem thêm</div>
                    </div>
                </div>
            </div>
            <hr>
            <div class="content">
                <div class="title">
                    Địa điểm áp dụng:
                </div>
                <div style="color: #2a398c;">
                    {{detailBookingTour.room?.roomTypes?.hotel?.name}}
                </div>
                <div class="d-flex flex-wrap g-mt-10">
                    <div class="icon">
                        <img src="../../../../assets/images/icon/TimeCircle.53a32bfd.svg" alt="">
                    </div>
                    <div class="date-value">
                        <span>Giai đoạn áp dụng: </span>
                        <span style="font-weight: 600; margin-left: 5px;">{{detailBookingTour.tour.startDate | date: 'dd/MM/yyyy'}} - {{detailBookingTour.tour.endDate | date: 'dd/MM/yyyy'}}</span>
                    </div>
                </div>
                <div class="d-flex flex-wrap g-mt-10">
                    <div class="icon">
                        <img src="../../../../assets/images/icon/feather_calendar.c217ce06.svg" alt="">
                    </div>
                    <div class="date-value">
                        <span>Ngày đặt trước: </span>
                        <span style="font-weight: 600; margin-left: 5px;">{{numberDay}} ngày trước ngày sử dụng dịch vụ</span>
                    </div>
                </div>
                <div class="d-flex flex-wrap g-mt-10">
                    <div class="icon">
                        <img src="../../../../assets/images/icon/TimeCircle.53a32bfd.svg" alt="">
                    </div>
                    <div class="date-value">
                        <span>Hạn sử dụng: </span>
                        <span style="font-weight: 600; margin-left: 5px;">{{detailBookingTour.tour.expirationDate | date: 'dd/MM/yyyy'}}</span>
                    </div>
                </div>
                <div class="d-flex flex-wrap g-mt-10">
                    <div class="icon">
                        <img src="../../../../assets/images/icon/3 User.c77913ee.svg" alt="">
                    </div>
                    <div class="date-value">
                        <span>Số lượng: </span>
                        <span style="font-weight: 600; margin-left: 5px;">{{detailBookingTour.numberAdult + detailBookingTour.numberChildren}}</span>
                    </div>
                </div>
                <div class="d-flex flex-wrap g-mt-10">
                    <div class="icon">
                        <img src="../../../../assets/images/icon/Barcode.182ad4c7.svg" alt="">
                    </div>
                    <div class="date-value">
                        <span>Mã kiểm tra: </span>
                        <span style="font-weight: 600; margin-left: 5px;"></span>
                    </div>
                </div>
            </div>
            </div>
            <div *ngIf="typeBooking == 'tour'" class="detail-order-box">
                <div class="d-flex flex-column flex-md-row">
                    <div class="item-image">
                        <img [src]="detailBookingTour?.hotel.images[0].path" alt="">
                    </div>
                    <div class="name-desc">
                        <div class="name">{{detailBookingTour?.hotel.name}}</div>
                        <div class="desc">
                            <div>Bao gồm: </div>
                            <div></div>
                        </div>
                    </div>
                </div>
                <hr>
                <div class="content">
                    <div class="title">
                        Địa điểm áp dụng:
                    </div>
                    <div style="color: #2a398c;">
                        {{detailBookingTour?.hotel.name}}
                    </div>
                    <div class="d-flex flex-wrap">
                        <div class="icon">
                            <img src="../../../../assets/images/icon/TimeCircle.53a32bfd.svg" alt="">
                        </div>
                        <div class="date-value">
                            <span>Ngày đến: </span>
                            <span style="font-weight: 600;">17/12/2022</span>
                        </div>
                        <div> - </div>
                        <div class="date-value">
                            <span>Ngày về: </span>
                            <span style="font-weight: 600;">20/12/2022</span>
                        </div>
                    </div>
                    <div class="d-flex flex-wrap">
                        <div class="icon">
                            <img src="../../../../assets/images/icon/feather_calendar.c217ce06.svg" alt="">
                        </div>
                        <div class="date-value">
                            <span>Ngày đặt trước: </span>
                            <span style="font-weight: 600;">15 ngày trước ngày sử dụng dịch vụ</span>
                        </div>
                    </div>
                    <div class="d-flex flex-wrap">
                        <div class="icon">
                            <img src="../../../../assets/images/icon/TimeCircle.53a32bfd.svg" alt="">
                        </div>
                        <div class="date-value">
                            <span>Hạn sử dụng: </span>
                            <span style="font-weight: 600;">27/11/2022</span>
                        </div>
                    </div>
                    <div class="d-flex flex-wrap">
                        <div class="icon">
                            <img src="../../../../assets/images/icon/3 User.c77913ee.svg" alt="">
                        </div>
                        <div class="date-value">
                            <span>Số lượng: </span>
                            <span style="font-weight: 600;">{{detailBookingRoom?.numberAdult + detailBookingRoom?.numberChildren}}</span>
                        </div>
                    </div>
                    <div class="d-flex flex-wrap">
                        <div class="icon">
                            <img src="../../../../assets/images/icon/Barcode.182ad4c7.svg" alt="">
                        </div>
                        <div class="date-value">
                            <span>Mã kiểm tra: </span>
                            <span style="font-weight: 600;"></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
<!-- </div>
<nz-alert
    nzType="error"
    nzCloseable
    nzBanner
    nzMessage="Lỗi"
    nzDescription="Đã có lỗi trong quá trình đặt phòng. Vui lòng thực hiện lại giao dịch"
></nz-alert> -->
