.form-search {
    background: #fff;
    padding: 5px;
    border-radius: 10px;
    // box-shadow: 0 20px 25px rgb(69 69 127 / 10%);
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.15)!important;
}

.dropdown-person {
    width: 352px;
    margin-top: 9px;
    box-shadow: 3px 4px 30px -4px rgb(53 60 70/22%);
    border-radius: 0 0 10px 10px;
    padding: 0 16px;
    padding-top: 20px;
    background-color: #fff;
}

.room {
    &-item {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-bottom: 12px;
        border-bottom: 1px solid #edf1f2;
    }

    &-detail {
        padding: 12px 0 15px;
        border-bottom: 1px solid #edf1f2;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        flex-direction: column;

        .label {
            font-style: normal;
            font-weight: 400;
            font-size: 12px;
            line-height: 22px;
            color: #9d9d9d;
            padding-top: 10px;
            margin-bottom: unset;
        }

        .label.title {
            font-weight: 600;
            font-size: 13px;
            line-height: 16px;
            color: #898994;
            padding: 0;
        }

        &--info {
            margin: 0;
            border-top: 1px solid #edf1f2;

            p {
                margin: 0;
                padding: 12px 0;
                line-height: 18px;
                color: #898994;
                font-style: italic;
            }
        }
    }
}

.number-select {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 16px 0;

    &--type {
        display: flex;
        flex-direction: column;

        .info {
            text-align: center;
            padding: 0;
            font-size: 13px;
            line-height: 16px;
            color: #898994;
            margin-bottom: 7px;
        }
    }
}

.btn-person {
    width: 30px;
    height: 30px;
    margin-top: 0;
    border: 0;
    border-radius: 50%;
    color: #e29a38;
    line-height: 18px;
    background: rgba(232,149,47,.1);
    display: flex;
    align-items: center;
    justify-content: center;

    &-room {
        user-select: none;
    }

    &.left {
        background: rgba(232,149,47,.1)!important;
    }

    &.right {
        background: #e8952f!important;
    }
}

.input-person {
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    color: #343a40;
    width: 38px;
    text-align: center;
    border: none;
    outline: none;
    pointer-events: none;
}

::ng-deep {
    .form-search {
        .ant-row.ant-form-item {
            margin: 0;
            padding: 16px !important;
            // padding-left: 16px!important;
            // padding-right: 13px!important;

            &.active {
                box-shadow: 3px 4px 30px -4px rgb(53 60 70 / 22%);
            }
        }

        .ant-form-item-label span{
            font-weight: 700;
            font-size: 14px;
            line-height: 16px;
            color: #898994;
        }

        .custom-input .ant-form-item-control-input-content {
            position: relative;
        }

        .custom-select-hotel .ant-select-selector .ant-select-selection-item {
            font-weight: 600;
            color: #353c46;
        }

        .custom-input .ant-form-item-control-input-content::before {
            content: '';
            width: 100%;
            height: 22px;
            position: absolute;
            bottom: -21px;
            z-index: 3;
            background-color: #fff;
        }

        .custom-input .ant-form-item-control-input-content::after {
            content: '';
            position: absolute;
            left: 0;
            width: 100%;
            border-bottom: 2px solid #e8952f;
            bottom: 0;
            z-index: 11;
            transition: .3s;
        }

        .ant-select-selector {
            border: none !important;
            box-shadow: none !important;
        }

        .ant-select-item-option-content {
            display: flex;
            align-items: baseline;
            border: 0;
            font-weight: 600;
            font-size: 14px;
            line-height: 17px;
            color: #353c46;
            margin-bottom: 10px;
            width: 100%;
            white-space: unset;
        }

        .ant-select-dropdown {
            width: 272px;
            left: -16px;
        }

        .ant-picker-range .ant-picker-active-bar {
            background: #e8952f;
        }

        .ant-picker-range-separator {
            padding: 0;
        }

        .ant-picker-separator span {
            display: none;
        }

        .ant-picker-separator::before {
            content: "-";
            position: absolute;
            font-size: 15px;
            white-space: nowrap;
            font-weight: 600;
            width: 100%;
            text-align: center;
        }

        .btn-custom {
            width: 130px;
            height: 50px;
            font-weight: 600;
            font-size: 16px;
            line-height: 20px;
            text-transform: unset;
        }

        .ant-picker-dropdown {
            left: -24px;
            top: 6px;
        }

        .btn-person-room {
            color: #222!important;
            border: none;
            outline: none;
            box-shadow: none;
        }
    }

    .vp-calc {
        display: flex;
        align-items: center;
        justify-content: center;
    }
}