.homepage-title {
    margin-bottom: 30px;
    font-style: normal;
    font-weight: 600;
    font-size: 26px;
    line-height: 44px;
    color: #343a40;

  }

  .col-md-4 {
    margin-bottom: 15px;
  }

.img-wrapper {
  img {
    width: 100%;
    height: 243px;
  }
}
