<div class="post-list">
    <div class="container">
        <h2 class="homepage-title">Tất cả bài viết</h2>
        <div class="row">
            <div *ngFor="let item of listOfPost; let idx = index;" class="col col-md-4">
                <a (click)="navigateDetailPost(item.id)">
                    <!-- <div class='post-item'>
                        <img class="post-image" src={{item.path}} alt="" />
                        <h5 class="post-title">{{item.title}}</h5>
                        <div class="post-excerpt">{{item.excerpt}}</div>
                    </div> -->
                    <div class="img-wrapper">
                        <img src={{item.path}} alt="">
                    </div>
                    <div class="item-title three_dots_2">
                        <a>{{item.name}}</a>
                    </div>
                </a>
            </div>
        </div>
    </div>
    <div class="table-footer d-flex justify-content-between align-items-center">
      <div *ngIf="totalItems <= 10 && totalItems > 0">Hiển thị 1 - {{totalItems}} trong {{totalItems}} bản ghi</div>
      <div *ngIf="totalItems > 10">
          <nz-pagination
              [nzPageIndex]="pageIndex"
              [nzTotal]="totalItems"
              nzShowSizeChanger
              [nzPageSize]="pageSize"
              (nzPageSizeChange)="changeItemPerPage($event)"
              (nzPageIndexChange)="changeCurrentPage($event)"
          ></nz-pagination>
          <div style="width: 300px;"></div>
      </div>
  </div>
</div>
