<div style="padding-top: 15px; border-top: 1px solid #f3eadc;"></div>
<div class="tour-search">
    <div class="container">
        <app-tour></app-tour>
        <div *ngIf="!tourId" class="tour-list">
            <div class="content">
                <div class="row">
                    <div class="col-lg-3">
                        <nz-card nzTitle="Lọc kết quả" [nzExtra]="extraTemplate">
                            <nz-collapse [nzBordered]="false" [nzAccordion]="false">
                                <nz-collapse-panel [nzShowArrow]="false" [nzHeader]="'Loại sản phẩm'" [nzActive]="true"
                                    [nzDisabled]="true" class="custom-borderless-collapse-panel">
                                    <nz-checkbox-group class="custom-checkbox" [(ngModel)]="checkOptionsService"
                                        (ngModelChange)="onChangeService(checkOptionsService)">
                                    </nz-checkbox-group>
                                </nz-collapse-panel>
                            </nz-collapse>
                            <nz-collapse [nzBordered]="false" [nzAccordion]="false">
                                <nz-collapse-panel [nzShowArrow]="false" [nzHeader]="'Độ dài kì nghỉ'" [nzActive]="true"
                                    [nzDisabled]="true" class="custom-borderless-collapse-panel">
                                    <nz-checkbox-group class="custom-checkbox" [(ngModel)]="checkOptionsAccommodation"
                                        (ngModelChange)="onChangeService(checkOptionsAccommodation)">
                                    </nz-checkbox-group>
                                </nz-collapse-panel>
                            </nz-collapse>
                        </nz-card>
                        <ng-template #extraTemplate>
                            <p (click)="resetFilter()" class="btn-reset-filter">Đặt lại</p>
                        </ng-template>
                    </div>
                    <div class="col-lg-9">
                        <div *ngIf="fullName" style="font-size: 16px;">
                            <span style="font-weight: 600;">{{fullName}}</span>
                            ơi, dưới đây là những kết quả phù hợp nhất cho bạn
                        </div>
                        <div class="d-flex justify-content-between flex-column flex-md-row">
                            <h3 style="font-size: 16px; font-weight: 500; margin-top: 15px;">Có 212 kết quả tìm kiếm
                            </h3>
                            <div class="select-sort">
                                <nz-select ngModel="jack" [nzSuffixIcon]="customIcon" class="custom-select"
                                    [nzDropdownClassName]="''">
                                    <nz-option nzValue="jack" nzLabel="Gợi ý từ Vinpearl">Gợi ý từ Vinpearl</nz-option>
                                    <nz-option nzValue="lucy" nzLabel="Giá thấp đến cao"></nz-option>
                                    <nz-option nzValue="disabled" nzLabel="Giá cao đến thấp"></nz-option>
                                </nz-select>
                                <ng-template #customIcon>
                                    <img src="../../../../assets/icon/arrow-select.svg" alt="">
                                </ng-template>
                            </div>
                        </div>
                        <div class="tour-box-list">
                            <div class="row tour-box">
                                <div class="col-md-5">
                                    <div class="tour-box-image">
                                        <div class="image-gallery">
                                            <img style="min-height: 250px;"
                                                src="https://booking-static.vinpearl.com/tours/0305911a853f4ce1aaba5ce78cfecbde_MicrosoftTeams-image%20(1)_Xuan-vivu.png"
                                                alt="">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-7 d-flex flex-column justify-content-between">
                                    <div class="tour-box-content">
                                        <div class="tour-tag">
                                            <span class="tour-tag-box">Trả góp 0%</span>
                                            <span class="tour-tag-box">Mayfest Combo</span>
                                            <span class="tour-tag-box">3N2Đ - Bay Vietnam Airlines</span>
                                        </div>
                                        <h1 class="tour-name">
                                            <a class="" href="/">[HCM - Đà Nẵng/ Hội An] Mayfest Combo</a>
                                        </h1>
                                        <div class="tour-description">
                                            ►VMB Vietnam Airlines►02 đêm phòng►Ăn sáng mỗi ngày
                                        </div>

                                        <div class="tour-price d-flex align-items-center justify-content-between">
                                            <div class="tour-clock">
                                                <img style="margin-right: 8px;"
                                                    src="../../../../assets/icon/clock.641022d8.svg" alt="clock">
                                                3 ngày 2 đêm
                                            </div>
                                            <p class="price">
                                                6.600.000
                                                <span>đ</span>
                                            </p>
                                        </div>
                                        <div class="tour-code">
                                            <span>Mã SP: </span>
                                            <span style="font-weight: 600; color: rgba(0,0,0,.65);">GN00677</span>
                                        </div>
                                        <div *ngIf="numberBuyer != 0" class="tour-buy">
                                            <img src="../../../../assets/icon/sold-quantity.d42ff9e4.svg" alt="">
                                            {{numberBuyer}} người mua
                                        </div>
                                    </div>
                                    <div class="tour-box-bottom">
                                        <div class="tour-button">
                                            <button (click)="handleTourSelect(1)" nz-button class="tour-pick">Mua
                                                ngay</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row tour-box">
                                <div class="col-md-5">
                                    <div class="tour-box-image">
                                        <div class="image-gallery">
                                            <img style="min-height: 250px;"
                                                src="https://booking-static.vinpearl.com/tours/0305911a853f4ce1aaba5ce78cfecbde_MicrosoftTeams-image%20(1)_Xuan-vivu.png"
                                                alt="">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-7 d-flex flex-column justify-content-between">
                                    <div class="tour-box-content">
                                        <div class="tour-tag">
                                            <span class="tour-tag-box">Trả góp 0%</span>
                                            <span class="tour-tag-box">Mayfest Combo</span>
                                            <span class="tour-tag-box">3N2Đ - Bay Vietnam Airlines</span>
                                        </div>
                                        <h1 class="tour-name">
                                            <a class="" href="/">[HCM - Đà Nẵng/ Hội An] Mayfest Combo</a>
                                        </h1>
                                        <div class="tour-description">
                                            ►VMB Vietnam Airlines►02 đêm phòng►Ăn sáng mỗi ngày
                                        </div>

                                        <div class="tour-price d-flex align-items-center justify-content-between">
                                            <div class="tour-clock">
                                                <img style="margin-right: 8px;"
                                                    src="../../../../assets/icon/clock.641022d8.svg" alt="clock">
                                                3 ngày 2 đêm
                                            </div>
                                            <p class="price">
                                                6.600.000
                                                <span>đ</span>
                                            </p>
                                        </div>
                                        <div class="tour-code">
                                            <span>Mã SP: </span>
                                            <span style="font-weight: 600; color: rgba(0,0,0,.65);">GN00677</span>
                                        </div>
                                        <div *ngIf="numberBuyer != 0" class="tour-buy">
                                            <img src="../../../../assets/icon/sold-quantity.d42ff9e4.svg" alt="">
                                            {{numberBuyer}} người mua
                                        </div>
                                    </div>
                                    <div class="tour-box-bottom">
                                        <div class="tour-button">
                                            <button (click)="handleTourSelect(1)" nz-button class="tour-pick">Mua
                                                ngay</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row tour-box">
                                <div class="col-md-5">
                                    <div class="tour-box-image">
                                        <div class="image-gallery">
                                            <img style="min-height: 250px;"
                                                src="https://booking-static.vinpearl.com/tours/0305911a853f4ce1aaba5ce78cfecbde_MicrosoftTeams-image%20(1)_Xuan-vivu.png"
                                                alt="">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-7 d-flex flex-column justify-content-between">
                                    <div class="tour-box-content">
                                        <div class="tour-tag">
                                            <span class="tour-tag-box">Trả góp 0%</span>
                                            <span class="tour-tag-box">Mayfest Combo</span>
                                            <span class="tour-tag-box">3N2Đ - Bay Vietnam Airlines</span>
                                        </div>
                                        <h1 class="tour-name">
                                            <a class="" href="/">[HCM - Đà Nẵng/ Hội An] Mayfest Combo</a>
                                        </h1>
                                        <div class="tour-description">
                                            ►VMB Vietnam Airlines►02 đêm phòng►Ăn sáng mỗi ngày
                                        </div>

                                        <div class="tour-price d-flex align-items-center justify-content-between">
                                            <div class="tour-clock">
                                                <img style="margin-right: 8px;"
                                                    src="../../../../assets/icon/clock.641022d8.svg" alt="clock">
                                                3 ngày 2 đêm
                                            </div>
                                            <p class="price">
                                                6.600.000
                                                <span>đ</span>
                                            </p>
                                        </div>
                                        <div class="tour-code">
                                            <span>Mã SP: </span>
                                            <span style="font-weight: 600; color: rgba(0,0,0,.65);">GN00677</span>
                                        </div>
                                        <div *ngIf="numberBuyer != 0" class="tour-buy">
                                            <img src="../../../../assets/icon/sold-quantity.d42ff9e4.svg" alt="">
                                            {{numberBuyer}} người mua
                                        </div>
                                    </div>
                                    <div class="tour-box-bottom">
                                        <div class="tour-button">
                                            <button (click)="handleTourSelect(1)" nz-button class="tour-pick">Mua
                                                ngay</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row tour-box">
                                <div class="col-md-5">
                                    <div class="tour-box-image">
                                        <div class="image-gallery">
                                            <img style="min-height: 250px;"
                                                src="https://booking-static.vinpearl.com/tours/0305911a853f4ce1aaba5ce78cfecbde_MicrosoftTeams-image%20(1)_Xuan-vivu.png"
                                                alt="">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-7 d-flex flex-column justify-content-between">
                                    <div class="tour-box-content">
                                        <div class="tour-tag">
                                            <span class="tour-tag-box">Trả góp 0%</span>
                                            <span class="tour-tag-box">Mayfest Combo</span>
                                            <span class="tour-tag-box">3N2Đ - Bay Vietnam Airlines</span>
                                        </div>
                                        <h1 class="tour-name">
                                            <a class="" href="/">[HCM - Đà Nẵng/ Hội An] Mayfest Combo</a>
                                        </h1>
                                        <div class="tour-description">
                                            ►VMB Vietnam Airlines►02 đêm phòng►Ăn sáng mỗi ngày
                                        </div>

                                        <div class="tour-price d-flex align-items-center justify-content-between">
                                            <div class="tour-clock">
                                                <img style="margin-right: 8px;"
                                                    src="../../../../assets/icon/clock.641022d8.svg" alt="clock">
                                                3 ngày 2 đêm
                                            </div>
                                            <p class="price">
                                                6.600.000
                                                <span>đ</span>
                                            </p>
                                        </div>
                                        <div class="tour-code">
                                            <span>Mã SP: </span>
                                            <span style="font-weight: 600; color: rgba(0,0,0,.65);">GN00677</span>
                                        </div>
                                        <div *ngIf="numberBuyer != 0" class="tour-buy">
                                            <img src="../../../../assets/icon/sold-quantity.d42ff9e4.svg" alt="">
                                            {{numberBuyer}} người mua
                                        </div>
                                    </div>
                                    <div class="tour-box-bottom">
                                        <div class="tour-button">
                                            <button (click)="handleTourSelect(1)" nz-button class="tour-pick">Mua
                                                ngay</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row tour-box">
                                <div class="col-md-5">
                                    <div class="tour-box-image">
                                        <div class="image-gallery">
                                            <img style="min-height: 250px;"
                                                src="https://booking-static.vinpearl.com/tours/0305911a853f4ce1aaba5ce78cfecbde_MicrosoftTeams-image%20(1)_Xuan-vivu.png"
                                                alt="">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-7 d-flex flex-column justify-content-between">
                                    <div class="tour-box-content">
                                        <div class="tour-tag">
                                            <span class="tour-tag-box">Trả góp 0%</span>
                                            <span class="tour-tag-box">Mayfest Combo</span>
                                            <span class="tour-tag-box">3N2Đ - Bay Vietnam Airlines</span>
                                        </div>
                                        <h1 class="tour-name">
                                            <a class="" href="/">[HCM - Đà Nẵng/ Hội An] Mayfest Combo</a>
                                        </h1>
                                        <div class="tour-description">
                                            ►VMB Vietnam Airlines►02 đêm phòng►Ăn sáng mỗi ngày
                                        </div>

                                        <div class="tour-price d-flex align-items-center justify-content-between">
                                            <div class="tour-clock">
                                                <img style="margin-right: 8px;"
                                                    src="../../../../assets/icon/clock.641022d8.svg" alt="clock">
                                                3 ngày 2 đêm
                                            </div>
                                            <p class="price">
                                                6.600.000
                                                <span>đ</span>
                                            </p>
                                        </div>
                                        <div class="tour-code">
                                            <span>Mã SP: </span>
                                            <span style="font-weight: 600; color: rgba(0,0,0,.65);">GN00677</span>
                                        </div>
                                        <div *ngIf="numberBuyer != 0" class="tour-buy">
                                            <img src="../../../../assets/icon/sold-quantity.d42ff9e4.svg" alt="">
                                            {{numberBuyer}} người mua
                                        </div>
                                    </div>
                                    <div class="tour-box-bottom">
                                        <div class="tour-button">
                                            <button (click)="handleTourSelect(1)" nz-button class="tour-pick">Mua
                                                ngay</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- <div *ngFor="let item of tourList" class="row tour-box">
                                <div class="col-md-4">
                                    <div class="tour-box-image">
                                        <div class="image-gallery">
                                            <img src={{item.path}} alt={{item.name}}>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-8 d-flex flex-column justify-content-between">
                                    <div class="tour-box-content">
                                        <div class="tour-tag">
                                            <span class="tour-tag-box">Trả góp 0%</span>
                                            <span class="tour-tag-box">Mayfest Combo</span>
                                            <span class="tour-tag-box">3N2Đ - Bay Vietnam Airlines</span>
                                        </div>
                                        <h1 class="tour-name">
                                            <a class="" href="/">{{item.name}}</a>
                                        </h1>
                                        <div class="tour-description">
                                            ►VMB Vietnam Airlines►02 đêm phòng►Ăn sáng mỗi ngày
                                        </div>
                                        <div class="tour-clock">
                                            <img src="../../../../assets/icon/clock.641022d8.svg" alt="clock">
                                            3 ngày 2 đêm
                                        </div>
                                    </div>
                                    <div class="tour-box-bottom">
                                        <div class="tour-price">
                                            <p class="flex-column-end">
                                                Chỉ từ
                                                <span class="flex-column-end price">
                                                    2.870.000
                                                    <span>đ</span>
                                                </span>
                                            </p>
                                            /Đêm
                                        </div>
                                        <div class="tour-button">
                                            <div class="tour-box-hidden"></div>
                                            <button (click)="handleRoomTypeSelect(item)" nz-button class="tour-pick">Đặt ngay</button>
                                        </div>
                                    </div>
                                </div>
                            </div> -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div *ngIf="tourId" class="tour-detail">
            <nz-card>
                <h4 class="title">[HCM - Đà Nẵng/ Hội An] Mayfest Combo</h4>
                <div class="row">
                    <div class="col col-lg-8 detail-slider">
                        <div class="image-gallery">
                            <div class="swiper-container gallery-top">
                                <swiper [config]="config" (swiper)="onSwiper($event)" (slideChange)="onSlideChange()">
                                    <!-- <ng-template *ngFor="let slide of item.images" swiperSlide>
                                        <img src={{slide?.path}} alt={{slide?.name}}>
                                    </ng-template> -->
                                </swiper>
                            </div>
                        </div>
                    </div>
                    <div class="col col-lg-4">
                        <div class="row">
                            <div class="code">GN00677</div>
                            <div class="price">6.600.000 đ</div>
                        </div>
                        <div class="row">
                            <button (click)="handleTourSelect(1)" nz-button class="tour-pick">Chọn gói sản phẩm</button>
                        </div>
                        <div class="row">
                            <ul>
                                <li>Giá luôn tốt nhất</li>
                                <li>Không phí thanh toán</li>
                                <li>Xác nhận đơn hàng tức thì</li>
                            </ul>
                        </div>
                        <div class="contact row">
                            <div class="col col-lg-12">
                                <img src="../../../../assets/icon/hotline.a3b8674e.svg" alt="">
                                <span>Hotline </span> : <strong> 1900 23 23 89</strong>
                            </div>
                        </div>
                    </div>
                </div>
            </nz-card>
            <div class="row">
                <div class="experience-ticket-booking-item position-relative">
                    <div class="row">
                        <div class="col col-md-8">
                            <nz-card>
                                <div class="row">
                                    <div class="col col-md-6">
                                        <div>Combo 3N2Đ lưu trú tại Vinpearl Resort & Spa Hội An</div>
                                        <div class="experience-ticket-booking-item-desc">
                                            <button nz-button class="">
                                                Xem chi tiết
                                                <span nz-icon nzType="down" nzTheme="outline"></span>
                                            </button>
                                        </div>
                                    </div>
                                    <div class="col col-md-6">
                                        <div class="g-flex-centered justify-content-end">
                                            <div class="price">
                                                <span>6.600.000 đ</span>
                                            </div>
                                            <button *ngIf="showPeople != 1" (click)="selectHotel(1)" nz-button class="">
                                                Đặt mua
                                            </button>
                                            <button *ngIf="showPeople == 1" (click)="cancelHotel()" nz-button class="">
                                                Hủy chọn
                                            </button>
                                        </div>
                                    </div>
                                    <div class="col col-md-12">
                                        <div class="ticket-booking-items">
    
                                        </div>
                                    </div>
                                </div>
                            </nz-card>
                            <nz-card>
                                <div class="row">
                                    <div class="col col-md-12">
                                        <nz-tabset nzType="card">
                                            <nz-tab nzTitle="Mô tả">Đại lễ 30/4 – 1/5 năm nay sẽ đặc biệt hơn thường niên với kỳ nghỉ kéo dài đến 5 ngày. Đây chính là cơ hội lý tưởng để bạn “tắt nguồn” và tận hưởng một chuyến du lịch trọn vẹn bên gia đình, bạn bè, nạp năng lượng để tăng tốc cho hành trình phía trước. Vinpearl dành tặng bạn Mayfest Combo siêu ưu đãi: trọn gói vé máy bay khứ hồi Vietnam Airlines và 3 ngày 2 đêm nghỉ dưỡng tại Vinpearl - "deal" nghỉ dưỡng siêu hời, thảnh thơi tận hưởng! 
    
                                                ►Thư thái tận hưởng chuyến đi với vé máy bay khứ hồi của Vietnam Airlines (đã bao gồm 12kg hành lý xách tay, 01 kiện 23kg và 01 kiện 10kg hành lý ký gửi/ 01 khách) và các quyền lợi ưu tiên
                                                
                                                ► 02 đêm nghỉ cho 01 khách (Áp dụng cho 02 người lớn/phòng)
                                                
                                                ► Buffet sáng mỗi ngày
                                                
                                                ► Miễn phí phí trả góp lãi suất 0% (Không áp dụng đồng thời với các chương trình ưu đãi khác của Vinpearl)
                                                
                                                Thư thái tận hưởng chuyến đi với vé máy bay khứ hồi của Vietnam Airlines cùng những quyền lợi ưu tiên</nz-tab>
                                            <nz-tab nzTitle="Bao gồm">1. Các dịch vụ bao gồm:  
    
                                                - Vé máy bay khứ hồi của Vietnam Airlines bao gồm 12kg hành lý xách tay, 01 kiện 23kg và 01 kiện 10kg hành lý ký gửi/ 01 khách
                                                
                                                - Miễn phí sử dụng các dịch vụ ưu tiên tại sân bay: 
                                                
                                                • Quầy thủ tục ưu tiên
                                                
                                                • Hành lý được gắn thẻ ưu tiên
                                                
                                                • Lên tàu bay bằng lối đi ưu tiên và xe buýt ưu tiên trong trường hợp ra tàu bay bằng xe buýt</nz-tab>
                                            <nz-tab nzTitle="Điều khoản">1. Thời hạn sử dụng voucher
    
                                                - Thời gian mua voucher: Từ 27/02/2023 - 13/04/2023
                                                
                                                - Thời gian đặt dịch vụ: Trước ngày 15/04/2023 và tối thiểu 14 ngày trước ngày lưu trú
                                                
                                                - Thời gian lưu trú: Từ 29/04/2023 đến 03/05/2023
                                                
                                                2. Điều khoản phụ thu
                                                
                                                - Phụ thu ở thêm đêm, nâng cấp phòng, phụ thu xe đón tiễn, giải trí, ăn uống.... tại khách sạn và các dịch vụ khác không nằm trong mục “Dịch vụ bao gồm” quý khách vui lòng liên hệ tổng đài 1900 23 23 89 (Vinpearl nhánh số 3) hoặc email xulydonhang@vinpearl.com để được kiểm tra dịch vụ, tư vấn và báo giá ưu đãi.</nz-tab>
                                            <nz-tab nzTitle="Chính sách hoàn huỷ">- Voucher không hoàn hủy đổi dịch vụ tính từ thời điểm quý khách nhận được thư Xác nhận đặt dịch vụ từ chúng tôi.</nz-tab>
                                            <nz-tab nzTitle="Hướng dẫn sử dụng">Bước 01: Sau khi hoàn tất thanh toán, quý khách sẽ nhận được thông báo hiển thị đơn hàng thành công.
    
                                                Bước 02: Quý khách sẽ nhận được email xác nhận giao dịch thành công, kèm mã voucher để đặt dịch vụ. </nz-tab>
                                          </nz-tabset>
                                    </div>
                                </div>
                            </nz-card>
                        </div>
                        <div class="col col-md-4">
                            <nz-card>
                                <div class="ticket-detail">
                                    <div>Chi tiết đơn hàng</div>
                                    <div class="sum">
                                        <div class="d-flex justify-content-between">
                                            <div>Tổng cộng</div>
                                            <div class="price">
                                                <span>6.600.000 đ</span>
                                            </div>
                                        </div>
                                        <button (click)="showHideTotalPrice()" nz-button nzType="primary" class="">
                                            <span>
                                                Chi tiết
                                                <span *ngIf="!showHideTotalPrice" nz-icon nzType="down" nzTheme="outline"></span>
                                            </span>
                                            <span>
                                                Chi tiết
                                                <span *ngIf="showHideTotalPrice" nz-icon nzType="down" nzTheme="outline"></span>
                                            </span>
                                        </button>
                                    </div>
                                </div>
                                <div class="btn-groups submitting">
                                    <button nz-button nzType="primary"></button>
                                </div>
                            </nz-card>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>