<div class="user-profile">
    <div class="container">
        <div class="user-setting">
            <div class="d-flex flex-column flex-lg-row">
                <div class="col-lg-30">
                    <app-user></app-user>
                </div>
                <div class="col-lg-70">
                    <div class="detail-order">
                        <div class="detail-order-title">Chi tiết đơn hàng</div>
                        <div class="detail-order-box">
                            <div class="detail-order-box-item">
                                <span class="label">Mã đơn hàng:</span>
                                <span class="value">{{detailData?.code}}</span>
                            </div>
                            <div class="detail-order-box-item">
                                <span class="label">Trạng thái:</span>
                                <span class="value">
                                    <span *ngIf="detailData?.paymentStatus == 0" class="my-order-status fail">Đã hủy</span>
                                    <span *ngIf="detailData?.paymentStatus == 1" class="my-order-status success">Thành công</span>
                                    <span *ngIf="detailData?.paymentStatus == 2" class="my-order-status pending">Đã hoàn</span>
                                    <span *ngIf="detailData?.paymentStatus == 3" class="my-order-status pending">Chờ xử lý</span>
                                </span>
                            </div>
                            <div class="detail-order-box-item">
                                <span class="label">Tổng tiền thanh toán:</span>
                                <span class="value">{{detailData?.paymentAmount | format}} đ</span>
                            </div>
                        </div>
                        <div class="detail-order-title">Thông tin người đặt</div>
                        <div class="detail-order-box">
                            <div class="detail-order-box-item">
                                <span class="label">Tên khách hàng:</span>
                                <span class="value">{{detailData?.customer.fullName}}</span>
                            </div>
                            <div class="detail-order-box-item">
                                <span class="label">Email khách hàng:</span>
                                <span class="value">{{detailData?.customer.email}}</span>
                            </div>
                            <div class="detail-order-box-item">
                                <span class="label">Số điện thoại:</span>
                                <span class="value">{{detailData?.customer.phone}}</span>
                            </div>
                            <div class="detail-order-box-item">
                                <span class="label">Thời gian giao dịch:</span>
                                <span class="value">{{detailData?.paymentDate | date : "HH:mm dd/MM/YYYY"}}</span>
                            </div>
                        </div>
                        <div class="detail-order-title">Thông tin đơn hàng</div>
                        <div *ngIf="type == 'hotel'" class="detail-order-box">
                            <div class="d-flex flex-column flex-md-row">
                                <div class="item-image">
                                    <img [src]="detailData?.hotel.images[0].path" alt="">
                                </div>
                                <div class="name-desc">
                                    <div class="name">{{detailData?.hotel.name}}</div>
                                    <div class="desc">
                                        <div>{{detailData?.hotel.address}}</div>
                                        <div></div>
                                    </div>
                                    <div class="alert">
                                        <div></div>
                                        <div class="text-center">
                                            <div>Nhận phòng</div>
                                            <div style="font-size: 20px;">{{detailData?.checkIn | date: "dd/MM/YYYY"}}</div>
                                            <div>{{detailData?.checkIn | date: "HH:mm"}}</div>
                                        </div>
                                        <img src="../../../../assets/icon/Hotel.3f6dc87f.svg" alt="">
                                        <div>
                                            <div>Nhận phòng</div>
                                            <div style="font-size: 20px;">{{detailData?.checkOut | date: "dd/MM/YYYY"}}</div>
                                            <div>{{detailData?.checkOut | date: "HH:mm"}}</div>
                                        </div>
                                        <div></div>
                                    </div>
                                    <div class="detail-order-box-item">
                                        <span class="label">Số lượng phòng:</span>
                                        <span class="value">01</span>
                                    </div>
                                    <div class="detail-order-box-item">
                                        <span class="label">Số lượng:</span>
                                        <span class="value">
                                            <span *ngIf="detailData?.numberAdult < 10 && detailData?.numberAdult > 0">{{detailData?.numberAdult}} Người lớn</span>
                                            <span *ngIf="detailData?.numberAdult >= 10">{{detailData?.numberAdult}} Người lớn</span>
                                            <span *ngIf="detailData?.numberChildren < 10 && detailData?.numberChildren > 0">, {{detailData?.numberChildren}} Trẻ em</span>
                                            <span *ngIf="detailData?.numberChildren >= 10">, {{detailData?.numberChildren}} Người lớn</span>
                                        </span>
                                    </div>
                                </div>
                            </div>
                            <div class="content">
                                <hr>
                                <div class="title">
                                    1x {{detailData?.hotel.name}}
                                </div>
                                <div style="color: #2a398c;">
                                    {{detailData?.hotel.name}}
                                </div>
                                <div class="detail-order-box-item">
                                    <span class="label">Tên gói:</span>
                                    <span class="value">{{detailData?.service.name}}</span>
                                </div>
                                <div class="detail-order-box-item">
                                    <span class="label">Thông tin gói phòng:</span>
                                    <span class="value">{{detailData?.service.name}}</span>
                                </div>
                                <div class="detail-order-box-item">
                                    <span class="label">Số lượng:</span>
                                    <span class="value">
                                        <span class="value">
                                            <span *ngIf="detailData?.numberAdult < 10 && detailData?.numberAdult > 0">{{detailData?.numberAdult}} Người lớn</span>
                                            <span *ngIf="detailData?.numberAdult >= 10">{{detailData?.numberAdult}} Người lớn</span>
                                            <span *ngIf="detailData?.numberChildren < 10 && detailData?.numberChildren > 0">, {{detailData?.numberChildren}} Trẻ em</span>
                                            <span *ngIf="detailData?.numberChildren >= 10">, {{detailData?.numberChildren}} Người lớn</span>
                                        </span>
                                    </span>
                                </div>
                                <div class="detail-order-box-item">
                                    <span class="label">Chính sách hoàn hủy:</span>
                                    <span class="value">Không hoàn/ hủy</span>
                                </div>
                            </div>
                        </div>
                        <div *ngIf="type == 'tour'" class="detail-order-box">
                            <div class="d-flex flex-column flex-md-row">
                                <div class="item-image">
                                    <img [src]="detailData?.hotel.images[0].path" alt="">
                                </div>
                                <div class="name-desc">
                                    <div class="name">{{detailData?.hotel.name}}</div>
                                    <div class="desc">
                                        <div>Bao gồm: </div>
                                        <div></div>
                                    </div>
                                </div>
                            </div>
                            <hr>
                            <div class="content">
                                <div class="title">
                                    Địa điểm áp dụng:
                                </div>
                                <div style="color: #2a398c;">
                                    {{detailData?.hotel.name}}
                                </div>
                                <div class="d-flex flex-wrap">
                                    <div class="icon">
                                        <img src="../../../../assets/images/icon/TimeCircle.53a32bfd.svg" alt="">
                                    </div>
                                    <div class="date-value">
                                        <span>Ngày đến: </span>
                                        <span style="font-weight: 600;">17/12/2022</span>
                                    </div>
                                    <div> - </div>
                                    <div class="date-value">
                                        <span>Ngày về: </span>
                                        <span style="font-weight: 600;">20/12/2022</span>
                                    </div>
                                </div>
                                <div class="d-flex flex-wrap">
                                    <div class="icon">
                                        <img src="../../../../assets/images/icon/feather_calendar.c217ce06.svg" alt="">
                                    </div>
                                    <div class="date-value">
                                        <span>Ngày đặt trước: </span>
                                        <span style="font-weight: 600;">15 ngày trước ngày sử dụng dịch vụ</span>
                                    </div>
                                </div>
                                <div class="d-flex flex-wrap">
                                    <div class="icon">
                                        <img src="../../../../assets/images/icon/TimeCircle.53a32bfd.svg" alt="">
                                    </div>
                                    <div class="date-value">
                                        <span>Hạn sử dụng: </span>
                                        <span style="font-weight: 600;">27/11/2022</span>
                                    </div>
                                </div>
                                <div class="d-flex flex-wrap">
                                    <div class="icon">
                                        <img src="../../../../assets/images/icon/3 User.c77913ee.svg" alt="">
                                    </div>
                                    <div class="date-value">
                                        <span>Số lượng: </span>
                                        <span style="font-weight: 600;">{{detailData?.numberAdult + detailData?.numberChildren}}</span>
                                    </div>
                                </div>
                                <div class="d-flex flex-wrap">
                                    <div class="icon">
                                        <img src="../../../../assets/images/icon/Barcode.182ad4c7.svg" alt="">
                                    </div>
                                    <div class="date-value">
                                        <span>Mã kiểm tra: </span>
                                        <span style="font-weight: 600;"></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>