.user-profile {
    background-color: #fff;
    border-top: 1px solid #f7f7f7;
    padding: 42px 0;

    .col-lg-30 {
        min-width: 370px;
        max-width: 370px;
        position: relative;
        padding-right: 15px;
        padding-left: 15px;
    }

    .col-lg-70 {
        margin: 0;
        flex: 1 1 auto!important;
        position: relative;
        width: 100%;
        padding-right: 15px;
        padding-left: 15px;
    }

    .title {
        font-weight: 600;
        font-size: 20px;
        color: #343a40;
        margin-bottom: 26px;
    }
}

.user-setting-left {
    .box-info {
        padding: 10px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        border-bottom: 1px solid #d9d9d9;
    }

    .user-info {
        text-align: center;
    }

    .info {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 10px 0;
        position: relative;

        .avatar {
            width: 120px;
            height: 120px;
            border-radius: 50%;
            object-fit: cover;
            margin-bottom: 20px;
        }

        .btn-edit {
            position: absolute;
            bottom: 24px;
            right: 100px;
            width: 40px;
        }
    }

    .code span {
        font-weight: 400;
        color: #616971;
    }

    .menu-user-item {
        padding: 10px;
        cursor: pointer;
        font-size: 13px;
        img {
            max-height: 16px;
            max-width: 16px;
            margin-right: 10px;
        }

        &.active {
            background: #f4f4f5!important;
            border-radius: 8px;
        }

        &:hover {
            cursor: pointer;
            text-decoration: underline;
        }
    }
}

.form-user-profile {
    .custom-input {
        padding: 6.5px 12px;
        width: 100%;
    }

    .input-code {
        border-radius: 25px;
    }
}

.detail-order {
    font-weight: 500;
    font-size: 14px;
    color: #353c46;
    &-title {
        font-weight: 600;
        font-size: 20px;
        line-height: 24px;
        color: #343a40;
    }

    &-box {
        border: 1px solid #ced4da;
        border-radius: 8px;
        padding: 25px;
        margin-top: 18px;
        margin-bottom: 22px;

        &-item {
            display: flex;
            justify-content: space-between;
            margin-bottom: 10px;

            .label {
                font-weight: 500;
                font-size: 14px;
                line-height: 20px;
                color: #898994;
                white-space: nowrap;
                margin-right: 10px;
            }

            .value {
                font-weight: 600;
                font-size: 14px;
                line-height: 20px;
                color: #353c46;
                text-align: right;
                overflow: hidden;
                text-overflow: ellipsis;
            }
        }

        .item-image {
            width: 200px;
            min-width: 200px;
            height: 236px;
            margin-right: 23px;

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                background: #60276e;
                border-radius: 6px;
            }
        }

        .name {
            color: #343a40;
            font-size: 16px;
            font-weight: 600;

            &-desc {
              .include {
                text-transform: uppercase;
                margin-top: 9px;
                color: #969aa2;
              }
            }
        }

        .desc {
            // height: 212px;
            // overflow: hidden;
            // position: relative;
        }

        hr {
            border-top: 1px solid #e5eaee;
            margin: 16px 0;
        }

        .content {
            margin-bottom: 21px;

            .icon {
                max-width: 35px;
                min-width: 35px;
                display: inline-block;
            }

            .date-value {
                display: flex;
                margin-top: 2px;
            }
        }
    }

    .my-order-status {
        &.fail {
            color: #dc502c;
        }
        &.success {
            color: #198754;
        }
        &.pending {
            color: #E5B217;
        }
    }

    .alert {
        background: #f8f8f8;
        border-radius: 8px;
        padding: 14px;
        margin: 13px 0;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
}
