.blog {
    margin-top: 7rem;
  }

  .post {
    // padding: 2rem;

    &-test {
      width: 36.9rem;
      margin-bottom: 2rem;
    }

    &-image {
      overflow: hidden;
      position: relative;
      .img {
        width: 100%;
        height: 20.5rem;
        object-fit: cover;
        transition: 0.3s;
      }

      &:hover {
        .img {
          transform: scale(1.05);
        }
      }
    }

    &-footer {
      margin-top: -5px;
      padding: 1rem;
      height: 10rem;
      border: 1px solid #ccc;
      border-bottom-left-radius: 4px;
      border-bottom-right-radius: 4px;
    }

    &-name {
      font-size: 1.2rem;
      font-weight: 600;
    }

    &-published {
      margin-left: 5px;
      font-size: 1.2rem;
      font-weight: 400;
    }

    &-title {
      font-size: 1.4rem;
      font-weight: 700;
      font-style: normal;
      margin-top: 6px;
      height: 4.2rem;
      overflow: hidden;
      display: block;
      display: -webkit-box;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 2;
      text-overflow: ellipsis;
    }

    &:hover {
      .post-published,
      .post-title,
      .post-name {
        color: #000;
      }
    }
  }

  .count {
    font-size: 2rem;
    margin-left: 5px;
  }

  .blog-detail {
    margin-top: 7rem;
    .username {
      font-size: 1.6rem;
      font-weight: 600;
      font-style: normal;
    }

    &-left {
      margin-right: 6rem;
      position: sticky;
      top: 9rem;
      &-username {
        padding: 1.5rem 0;
        border-bottom: 1px solid;
      }

      &-reaction {
        display: flex;
        justify-content: space-between;
        margin-top: 2rem;

        .reaction {
            display: start;
            justify-content: space-between;
          color: #707070;

          &:hover {
            cursor: pointer;
            color: #000;
          }

          svg {
            width: 2.5rem;
          }

          span {
            margin-left: 8px;
          }
        }
      }
    }

    &-title {
      font-size: 4rem;
      font-weight: 700;
      color: #000;
      margin: 1rem 0;
    }

    &-header {
      display: flex;
      justify-content: space-between;
      &--left {
        .date {
          font-size: 1.4rem;
          margin-top: 5px;
        }
      }

      &--right {
        svg {
          width: 1.7rem;
          opacity: 0.6;
          transition: all 0.3s ease;

          &:hover {
            opacity: 1;
            cursor: pointer;
          }
        }
      }
    }

    &-content {
      margin-top: 4rem;
      font-size: 1.3rem;
      line-height: 2.4rem;
    }
  }

  .blog-detail-comment.active {
    .comment {
      transform: translate(0);
    }
  }

  .block-comment {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 2000000001 !important;
    background-color: rgba(0,0,0,.2);
    cursor: pointer;
    display: flex;
    justify-content: flex-end;

    .comment {
      position: relative;
      max-width: 100%;
      min-width: 720px;
      width: 43%;
      background-color: #FFF;
      box-shadow: 0 4px 12px rgba(0,0,0,.15);
      cursor: default;
      overflow: scroll;
      height: 100%;

      &-close {
        color: #757575;
        font-size: 2rem;
        padding: 16px 20px;
        position: absolute;
        right: 6px;
        top: 0;
        user-select: none;
        z-index: 2;

        &:hover {
          color: #333;
          cursor: pointer;
        }
      }

      &-body {
        overflow-x: hidden;
        overflow-y: auto;
        padding: 0 40px 60px;
        position: relative;
        margin-top: 50px;

        h4 {
          font-size: 20px;
          font-weight: 600;
          margin-bottom: 48px;
        }
      }

      &-form {
        display: flex;
        // justify-content: space-between;
        align-items: flex-start;
        padding-bottom: 48px;

        .input-forms {
          width: 100%;
        }
      }

      &-action {
        display: flex;
        justify-content: flex-end;
        margin-top: 20px;
        width: 100%;
      }

      &-detail-comment {
        display: flex;
        align-items: flex-start;
        margin-top: 16px;

        .body {
          width: calc(100% - 50px);
        }

        .inner {
          background-color: #f2f3f5;
          border-radius: 18px;
          color: #1c1e21;
          padding: 9px 12px;
          position: relative;
        }

        .comment-text {
          margin-top: 8px;
        }

        .reply-box {
          margin: 16px 0 8px;
          max-width: 600px;
        }
      }

      &-time {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        margin-top: 10px;

        .left {
          color: #e87a5a;
          font-size: 13px;
          margin: 0 4px;

          &:hover {
            cursor: pointer;
            text-decoration: underline;
          }
        }

        .right {
          display: flex;
          align-items: center;
          justify-content: flex-start;
        }

        .time {
          color: #999;
          font-size: 13px;
          margin: 0 4px;
        }

        .more-btn {
          border: none;
          color: #888;
          font-size: 1.6rem;
          margin: 0;
          outline: none;
          padding: 4px;
        }
      }
    }
  }

  .avatar {
    border-radius: 50%;
    margin-right: 12px;
    img {
      border-radius: 50%;
      width: 38px;
      height: 38px;
      object-fit: cover;
    }
  }

  .arthor {
    h5 {
      font-size: 14px;
      font-weight: 600;
      margin: 0;
    }
  }

  ::ng-deep {
    #content-comment.ant-input {
      border-radius: 15px;
      padding: 8px 15px;
    }

    .custom-editor {
      border: 2px solid #d0d7de;
      border-radius: 6px;

      .NgxEditor {
        border: none;
        padding-top: 20px;
      }
    }

    .comment-action {
      button {
        font-weight: 600;
        text-transform: uppercase;
        padding: 10px 16px;
        border-radius: 20px;
        margin-left: 10px;
      }

      .cancel {
        color: #888888;
        background: #FFF;
        &:hover {
          cursor: pointer;
          color: #777;
          background: #ebebeb;
          opacity: 0.8;
        }
      }

      .ok {
        background: #ccc;
        color: #FFF;
        &.active {
          background: #f05123;
          &:hover {
            cursor: pointer;
            opacity: 0.8;
          }
        }
      }
    }

    .ul-dropdowm-custom {
      li {
        color: #444;
        cursor: pointer;
        display: block;
        font-size: 14px;
        padding: 12px 20px;
        transition: .3s;

        &:hover {
          background-color: #f0f0f0;
          color: #292929;
        }

        span {
          margin-left: 16px;
        }
      }
    }

    .cdk-overlay-container {
      z-index: 2000000002;
    }
  }
