.blog {
    margin-top: 7rem;
  }
  
  .post {
    // padding: 2rem;
  
    &-test {
      width: 36.9rem;
      margin-bottom: 2rem;
    }
  
    &-image {
      overflow: hidden;
      position: relative;
      .img {
        width: 100%;
        height: 20.5rem;
        object-fit: cover;
        transition: 0.3s;
      }
  
      &:hover {
        .img {
          transform: scale(1.05);
        }
      }
    }
  
    &-footer {
      margin-top: -5px;
      padding: 1rem;
      height: 10rem;
      border: 1px solid #ccc;
      border-bottom-left-radius: 4px;
      border-bottom-right-radius: 4px;
    }
  
    &-name {
      font-size: 1.2rem;
      font-weight: 600;
    }
  
    &-published {
      margin-left: 5px;
      font-size: 1.2rem;
      font-weight: 400;
    }
  
    &-title {
      font-size: 1.4rem;
      font-weight: 700;
      font-style: normal;
      margin-top: 6px;
      height: 4.2rem;
      overflow: hidden;
      display: block;
      display: -webkit-box;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 2;
      text-overflow: ellipsis;
    }
  
    &:hover {
      .post-published,
      .post-title,
      .post-name {
        color: #000;
      }
    }
  }
  
  .count {
    font-size: 2rem;
    margin-left: 5px;
  }
  
  .blog-detail {
    margin-top: 7rem;
    .username {
      font-size: 1.6rem;
      font-weight: 600;
      font-style: normal;
    }
  
    &-left {
      margin-right: 6rem;
      position: sticky;
      top: 9rem;
      &-username {
        padding: 1.5rem 0;
        border-bottom: 1px solid;
      }
  
      &-reaction {
        display: flex;
        justify-content: space-between;
        margin-top: 2rem;
  
        .reaction {
            display: start;
            justify-content: space-between;
          color: #707070;
  
          &:hover {
            cursor: pointer;
            color: #000;
          }
  
          svg {
            width: 2.5rem;
          }
        }
      }
    }
  
    &-title {
      font-size: 4rem;
      font-weight: 700;
      color: #000;
      margin: 1rem 0;
    }
  
    &-header {
      display: flex;
      justify-content: space-between;
      &--left {
        .date {
          font-size: 1.4rem;
          margin-top: 5px;
        }
      }
  
      &--right {
        svg {
          width: 1.7rem;
          opacity: 0.6;
          transition: all 0.3s ease;
  
          &:hover {
            opacity: 1;
            cursor: pointer;
          }
        }
      }
    }
  
    &-content {
      margin-top: 4rem;
      font-size: 1.3rem;
      line-height: 2.4rem;
    }
  }
  
  .blog-detail-comment.active {
    .comment {
      transform: translate(0);
    }
  }