<div class="user-setting-left">
    <div class="box-info">
        <span>
            <div class="info">
                <img src="../../../assets/images/login/user.png" alt="avatar" class="avatar">
                <img src="../../../assets/images/login/edit.png" alt="edit" class="btn-edit">
            </div>
            <div class="user-info">
                <div class="fullname">{{fullName}}</div>
                <div class="code">
                    <span>Mã thẻ : </span>
                </div>
            </div>
        </span>
    </div>
    <div class="content">
        <p class="menu-user-item" (click)="navigateUserProfile(1)" [class.active]="currentUrl.includes('user/user-profile')">
            <img src="../../../assets/icon/user.svg" alt="">
            Thông tin tài khoản
        </p>
        <p class="menu-user-item" (click)="navigateUserProfile(2)" [class.active]="currentUrl.includes('user/my-order')">
            <img src="../../../assets/icon/order.svg" alt="">
            Đơn hàng của tôi
        </p>
        <p class="menu-user-item" (click)="navigateUserProfile(3)" [class.active]="currentUrl.includes('user/my-post')">
            <img src="../../../assets/icon/cost.svg" alt="">
            Bài viết của tôi</p>
        <p class="menu-user-item" (click)="navigateUserProfile(4)">
            <img src="../../../assets/icon/Logout.svg" alt="">
            Đăng xuất
        </p>
    </div>
</div>