.form {
  padding-bottom: 100px;
}

.file-list {
  width: 100%;
  height: 36px;
  border: 1px solid #d9d9d9;
  background: #FFF;
  border-radius: 4px;

  &:hover, &:focus {
      border-color: #40a9ff;
  }

  img {
      position: absolute;
      right: 10px;
      width: 24px;
      height: 24px;
      top: 5px;
  }

  .name {
      height: 100%;
      display: flex;
      align-items: center;
      margin-left: 10px;
  }
}