<div id="footer" class="footer">
    <div class="container">
        <img class="footer-bg" src="../../../assets/icon/footer-bg.843e0a99.svg" alt="">
        <div class="row align-items-start justify-content-between">
            <div class="col col-md-4">
                <div class="image-logo-footer">
                    <img src="../../../assets/icon/logo-footer.5892cd07.svg" alt="">
                </div>
                <div class="address">
                    <p class="d-flex flex-row align-items-center">
                        <img src="../../../assets/icon/location.svg" alt="">
                        <span style="margin-left: 12px;">Đảo Hòn Tre, Phường Vĩnh Nguyên, Thành phố Nha Trang, Tỉnh Khánh Hòa, Việt Nam</span>
                    </p>
                    <p class="d-flex flex-row align-items-center">
                        <img src="../../../assets/icon/mail.svg" alt="">
                        <a href="/">
                            <span class="highlight" style="margin-left: 12px;">Callcenter@vinpearl.com</span>
                        </a>
                    </p>
                    <p class="d-flex flex-row align-items-center">
                        <img src="../../../assets/icon/phone.svg" alt="">
                        <a href="/">
                            <span class="highlight" style="margin-left: 12px;">1900 23 23 89 (nhánh 3)</span>
                        </a>
                    </p>
                </div>
            </div>
            <div class="col col-md-2">
                <h3>Về Vinpearl</h3>
                <ul class="list">
                    <li>
                        <a href="/">Về chúng tôi</a>
                    </li>
                    <li>
                        <a href="/">Tuyển dụng</a>
                    </li>
                    <li>
                        <a href="/">Liên hệ</a>
                    </li>
                    <li>
                        <a href="/">Câu hỏi thường gặp</a>
                    </li>
                    <li>
                        <a href="/">Bản đồ trang</a>
                    </li>
                </ul>
            </div>
            <div class="col col-md-4">
                <h3>Điều khoản & Quy định</h3>
                <ul class="list">
                    <li>
                        <a href="/">Điều khoản chung</a>
                    </li>
                    <li>
                        <a href="/">Quy định chung</a>
                    </li>
                    <li>
                        <a href="/">Quy định về thanh toán</a>
                    </li>
                    <li>
                        <a href="/">Quy định về xác nhận thông tin đặt phòng</a>
                    </li>
                    <li>
                        <a href="/">Chính sách giải quyết tranh chấp</a>
                    </li>
                    <li>
                        <a href="/">Chính sách quyền riêng tư</a>
                    </li>
                </ul>
            </div>
            <div class="col col-md-2">
                <h3>Tin Tức & Sự Kiện</h3>
                <ul class="list">
                    <li>
                        <a href="/">Tin tức công ty</a>
                    </li>
                    <li>
                        <a href="/">Cẩm nang du lịch</a>
                    </li>
                    <li>
                        <a href="/">Giải thưởng thành tựu</a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="row align-items-start justify-content-between">
            <div style="font-size: 12px;" class="col col-md-4">
                <div>
                    <span>Chủ tài khoản: </span>
                    <span>Công ty cổ phần Vinpearl Tài khoản ngân hàng số: 9124412488166 (VND) Ngân hàng thương mại cổ phần Kỹ Thương Việt Nam - Techcombank</span>
                </div>
                <div>
                    <span>Số ĐKKD: </span>
                    <span>4200456848. ĐK lần đầu 26/7/2006. ĐK thay đổi tại từng thời điểm</span>
                </div>
                <span>Nơi cấp: Sở kế hoạch và đầu tư tỉnh Khánh Hòa</span>
            </div>
            <div class="col col-md-2">
                <h3>Điểm đến nổi bật</h3>
                <ul class="list">
                    <li>
                        <a href="/">Phú Quốc</a>
                    </li>
                    <li>
                        <a href="/">Nha Trang</a>
                    </li>
                    <li>
                        <a href="/">Nam Hội An</a>
                    </li>
                </ul>
            </div>
            <div class="col col-md-4">
            </div>
            <div class="col col-md-2">
            </div>
        </div>
    </div>
    <div class="copyright">
        <div class="container d-flex justify-content-between align-items-center">
            <div class="text">Copyright © 2022 Vinpearl.com. All rights reserved</div>
            <div>
                <ul class="socials">
                    <li class="item">
                        <a href="">
                            <img src="../../../assets/icon/facebook1.f9e53149.svg" alt="">
                        </a>
                    </li>
                    <li class="item">
                        <a href="">
                            <img src="../../../assets/icon/instagram1.15d69814.svg" alt="">
                        </a>
                    </li>
                    <li class="item">
                        <a href="">
                            <img src="../../../assets/icon/youtube1.ceda455c.svg" alt="">
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>