.hotel-summary {
    padding: 0 15px 20px;
    background: #FFF;

    &-wrap {
        position: sticky!important;
        color: #343a40;
        border-radius: 6px;
        border: 1px solid #e0e0e0;
        top: 40px;
    }

    .info-hotel {
        padding-top: 15px;
        margin-bottom: 12px;
    }

    .info-title {
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-size: 16px;
        font-weight: 500;
        margin-bottom: 6px;
    }

    .info-date {
        display: flex;
        margin-bottom: 4px;
        align-items: center;
        justify-content: space-between;
        .check-in, .check-out {
            font-size: 13px;
            font-weight: 400;
            text-transform: capitalize;
        }
    }

    .info-night {
        font-size: 13px;
        font-weight: 400;
        color: #616971;
    }

    .line-hotel {
        border-top: 1px solid #e0e0e0;
        margin: 28px 0;
    }

    &-button {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 50px;
        font-weight: 500;
        border-radius: 50px;
    }

    .info-room {
        border-top: 1px solid #e0e0e0;
        border-bottom: 1px solid #e0e0e0;
        padding: 12px 0;
        margin-bottom: 21px;
        color: #343a40;
        &-detail {
            display: flex;
            flex-direction: column;
            width: 60%;
            color: #343a40;
            font-size: 16px;
            font-weight: 500;
            & > span {
                font-size: 13px;
                font-weight: 400;
                margin-top: 6px;
            }
        }
    }

    .edit-room {
        display: flex;
        flex-direction: column;
        text-align: right;
        &_hotel {
            font-size: 12px;
            font-weight: 400;
            color: #2a398c;
            cursor: pointer;
        }

        .price {
            font-weight: 500;
            font-size: 16px;
            color: #343a40;
        }
    }

    .number-person {
        font-size: 12px;
        margin-top: 4px;
        color: #616971;
    }

    .button-room {
        background-color: #2a398c;
        border-color: #2a398c;
        padding: 10px 28px;
        border-radius: 40px;
        color: #fff;
    }
    
}
.title-hotel {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #e0e0e0;
    background-color: hsla(0deg, 0%, 87.8%, 0.2);
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    padding: 14px 18px;
}