<div class="hotel-summary-wrap">
    <div class="title-hotel">
        <h3>Chuyến đi</h3>
        <div class="timer"></div>
    </div>
    <div class="hotel-summary">
        <div class="info-hotel">
            <div class="info-title">
                {{nameHotel ? nameHotel : detailRoom?.name}}
            </div>
            <div class="info-date">
                <div class="check-in">
                    Thứ Tư, 
                    <span *ngIf="arrivalDate"> {{arrivalDate | date: 'dd/MM/yyyy'}}</span>
                    <span *ngIf="detailRoom?.arrivalDate"> {{detailRoom?.arrivalDate | date: 'dd/MM/yyyy'}}</span>
                </div>
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-right" viewBox="0 0 16 16">
                    <path fill-rule="evenodd" d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8z"/>
                </svg>
                <div class="check-out">
                    Thứ Sáu, 
                    <span *ngIf="leaveDate"> {{leaveDate | date: 'dd/MM/yyyy'}}</span>
                    <span *ngIf="detailRoom?.leaveDate"> {{detailRoom?.leaveDate | date: 'dd/MM/yyyy'}}</span>
                </div>
            </div>
            <div class="info-night">02 đêm</div>
        </div>
        <div *ngIf="detailRoom" class="info-room">
            <div class="d-flex flex-row justify-content-between">
                <div class="info-room-detail">
                    Phòng
                    <span>x1 {{detailRoom.nameRoomType}}</span>
                </div>
                <div class="edit-room">
                    <div class="edit-room_hotel">Chỉnh sửa</div>
                    <div class="price text-right d-flex">
                        <!-- {{detailRoom.paymentAmount | format}} -->
                        {{detailRoom.paymentAmount | format}}
                        đ
                    </div>
                </div>
            </div>
            <div class="d-flex flex-row">
                <span class="number-person">{{detailRoom.noParent}} Người lớn</span>
                <span class="number-person">, {{detailRoom.noChildren}} Trẻ em</span>
            </div>
        </div>
        <div *ngIf="detailRoom" class="hotel-summary-total d-flex flex-row justify-content-between">
            <div class="d-flex flex-column">
                <span>Tổng cộng: </span>
                <span class="number-person">(Bao gồm thuế phí)</span>
            </div>
            <div class="d-flex flex-column text-right">
                <span class="total-price-hotel">
                    {{detailRoom.paymentAmount | format}} 
                    đ
                </span>
            </div>
        </div>
        <div class="line-hotel"></div>
        <button *ngIf="true" (click)="navigateBooking()" nz-button nzType="primary" class="hotel-summary-button">Tiếp tục</button>
    </div>
</div>