<div class="hotel-search">
    <div class="container">
        <app-hotel-resort></app-hotel-resort>
        <div *ngIf="!checkRoomSelect" class="hotel-list">
            <div class="content">
                <div class="row">
                    <div class="col-lg-3"></div>
                    <div class="col-lg-9">
                        <div class="d-flex justify-content-between flex-column flex-md-row">
                            <span>{{'result.booking' | translate}}</span>
                            <div class="select-sort">
                                <nz-select
                                    ngModel="jack"
                                    [nzSuffixIcon]="customIcon"
                                    class="custom-select"
                                    [nzDropdownClassName]="''"
                                >
                                    <nz-option nzValue="jack" nzLabel="Gợi ý từ Vinpearl">Gợi ý từ Vinpearl</nz-option>
                                    <nz-option nzValue="lucy" nzLabel="Giá thấp đến cao"></nz-option>
                                    <nz-option nzValue="disabled" nzLabel="Giá cao đến thấp"></nz-option>
                                </nz-select>
                                <ng-template #customIcon>
                                    <img src="../../../../assets/icon/arrow-select.svg" alt="">
                                </ng-template>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <nz-card nzTitle="Lọc kết quả" [nzExtra]="extraTemplate">
                            <nz-collapse
                                [nzBordered]="false"
                                [nzAccordion]="false"
                            >
                                <nz-collapse-panel
                                    [nzShowArrow]="false"
                                    [nzHeader]="'Dịch vụ'"
                                    [nzActive]="true"
                                    [nzDisabled]="true"
                                    class="custom-borderless-collapse-panel"
                                >
                                <nz-checkbox-group
                                    class="custom-checkbox"
                                    [(ngModel)]="checkOptionsService"
                                    (ngModelChange)="onChangeService(checkOptionsService)"
                                >
                                </nz-checkbox-group>
                                </nz-collapse-panel>
                            </nz-collapse>
                            <nz-collapse
                                [nzBordered]="false"
                                [nzAccordion]="false"
                            >
                                <nz-collapse-panel
                                    [nzShowArrow]="false"
                                [nzHeader]="'Loại hình lưu trú'"
                                    [nzActive]="true"
                                    [nzDisabled]="true"
                                    class="custom-borderless-collapse-panel"
                                >
                                <nz-checkbox-group
                                    class="custom-checkbox"
                                    [(ngModel)]="checkOptionsAccommodation"
                                    (ngModelChange)="onChangeService(checkOptionsAccommodation)">
                                </nz-checkbox-group>
                                </nz-collapse-panel>
                            </nz-collapse>
                        </nz-card>
                        <ng-template #extraTemplate>
                            <p (click)="resetFilter()" class="btn-reset-filter">Đặt lại</p>
                        </ng-template>
                    </div>
                    <div class="col-lg-9">
                        <div class="hotel-box-list">
                            <div *ngFor="let item of hotelList" class="row hotel-box">
                                <div class="col-md-4">
                                    <div class="hotel-box-image">
                                        <div class="image-gallery">
                                            <div class="swiper-container gallery-top">
                                                <!-- <swiper
                                                    [config]="config"
                                                    (swiper)="onSwiper($event)"
                                                    (slideChange)="onSlideChange()"
                                                >
                                                    <ng-template *ngFor="let slide of item.images" swiperSlide>
                                                        <img src={{slide?.path}} alt={{slide?.name}}>
                                                    </ng-template>
                                                </swiper> -->
                                                <img src={{item.path}} alt={{item.name}}>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-8 d-flex flex-column justify-content-between">
                                    <div class="hotel-box-content">
                                        <h1 class="hotel-name">
                                            <a class="" href="/">{{item.name}}</a>
                                        </h1>
                                        <div class="hotel-address">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-geo-alt-fill" viewBox="0 0 16 16">
                                                <path d="M8 16s6-5.686 6-10A6 6 0 0 0 2 6c0 4.314 6 10 6 10zm0-7a3 3 0 1 1 0-6 3 3 0 0 1 0 6z"/>
                                            </svg>
                                            {{item.address}}
                                        </div>
                                        <div class="hotel-tag">
                                            <div class="hotel-tag-box">Bãi biển riêng</div>
                                            <div class="hotel-tag-box">Gần VinWonders</div>
                                            <div class="hotel-tag-box">Gần Safari</div>
                                        </div>
                                    </div>
                                    <div class="hotel-box-bottom">
                                        <div class="hotel-price">
                                            <p class="flex-column-end">
                                                Chỉ từ
                                                <span class="flex-column-end price">
                                                    {{item.priceMin | format}}
                                                    <span>đ</span>
                                                </span>
                                            </p>
                                            /Đêm
                                        </div>
                                        <div class="hotel-button">
                                            <div class="hotel-box-hidden"></div>
                                            <button (click)="handleRoomTypeSelect(item.id)" nz-button class="hotel-pick">Đặt ngay</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div *ngIf="checkRoomSelect" class="room-list">
            <div class="hotel-new-box">
                <div class="hotel-box">
                    <div class="d-flex justify-content-between flex-column flex-lg-row">
                        <div class="col-md-4 pl-0">
                            <div class="hotel-box-image">
                                <div class="hotel-box-image">
                                    <div class="image-gallery">
                                        <div class="swiper-container gallery-top">
                                            <swiper
                                                [config]="config"
                                                (swiper)="onSwiper($event)"
                                                (slideChange)="onSlideChange()"
                                            >
                                                <ng-template *ngFor="let slide of checkRoomSelect.images" swiperSlide>
                                                    <img src={{slide?.path}} alt={{slide?.name}}>
                                                </ng-template>
                                            </swiper>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-8">
                            <div class="hotel-box-content">
                                <h1 class="hotel-name">
                                    <a class="title-link" href="https://vinpearl.com/vi/hotels/vinholidays-fiesta-phu-quoc">
                                        {{checkRoomSelect.name}}
                                    </a>
                                </h1>
                                <div class="hotel-address">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-geo-alt-fill" viewBox="0 0 16 16">
                                        <path d="M8 16s6-5.686 6-10A6 6 0 0 0 2 6c0 4.314 6 10 6 10zm0-7a3 3 0 1 1 0-6 3 3 0 0 1 0 6z"/>
                                    </svg>
                                    {{checkRoomSelect.address}}
                                </div>
                            </div>
                            <div class="hotel-box-bottom">
                                <p>{{checkRoomSelect.description}}</p>
                            </div>
                            <div class="hotel-box-price-container">
                                <a class="text-detail" href="https://vinpearl.com/vi/hotels/vinholidays-1-phu-quoc?_ga=2.163222460.1873255178.1676686826-228671980.1667643429">
                                    {{'clickDetail' | translate }}
                                    <img src="../../../../assets/images/icon/icon-hotel-detail.svg" alt="">
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-8 hotel-detail-room">
                    <div class="tab-list filter-hotel">
                        <div class="vpt-slick-room row">
                            <span class="title-filter-room">
                                {{'filterRoom' | translate}}
                            </span>
                        </div>
                    </div>
                    <div class="row">
                        <div *ngFor="let item of roomTypeList" class="hotel-detail-room-box hotel_detail-room-box">
                            <div class="hotel-detail-room-info">
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="image-gallery">
                                            <div class="swiper-container gallery-top">
                                                <swiper
                                                    [config]="config"
                                                    (swiper)="onSwiper($event)"
                                                    (slideChange)="onSlideChange()"
                                                >
                                                    <ng-template *ngFor="let slide of item.images" swiperSlide>
                                                        <img src={{slide?.path}} alt={{slide?.name}}>
                                                    </ng-template>
                                                </swiper>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6 hotel_detail-room-box__title">
                                        <div>
                                            <h3>{{item.name}}</h3>
                                            <div class="hotel_detail-room-box_info">
                                                <span class="hotel_detail-room-box_info__guest">
                                                    <span nz-icon nzType="user" nzTheme="outline"></span>
                                                    {{item.numberParent + item.numberChildren}} {{'guests' | translate}}
                                                </span>
                                                <span class="hotel_detail-room-box_info__acreage">
                                                    <img src="../../../../assets/images/icon/resize.svg" alt="">
                                                    {{item.acreage}}m2
                                                </span>
                                            </div>
                                            <div class="hotel_detail-room-box_description">
                                                <div class="hotel_detail-room-box_description__value">
                                                    {{item.description}}
                                                </div>
                                                <div class="hotel-box-view-popup d-flex align-items-end">
                                                    <span>{{'roomDetails' | translate}}</span>
                                                </div>
                                            </div>
                                            <!-- <div class="view-rate">
                                                <div></div>
                                                <div class="text-right">
                                                    <div class="hotel-box-price">
                                                        <span class="standard-text">
                                                            {{'pricePublic' | translate}}
                                                            <span class="standard-text_value">
                                                                {{item.service[0].priceVnd}}
                                                                <span>đ</span>
                                                            </span>
                                                        </span>
                                                        <p class="font12_hotel">{{'/night'| translate}}</p>
                                                    </div>
                                                    <div class="btn-view-rate-wrap">
                                                        <p></p>
                                                        <button class="hotel-pick">{{'btnSelect'| translate}}</button>
                                                    </div>
                                                </div>
                                            </div> -->
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="hotel-detail-room-rates_action">
                                <div class="standard">
                                    <div *ngIf="item.service.length < 10 && item.service.length > 0" class="title">
                                        <div class="title">
                                            {{'standard' | translate}} (0{{item.service.length}})
                                        </div>
                                    </div>
                                    <div *ngIf="item.service.length >= 10" class="title">
                                        {{'standard' | translate}} ({{item.service.length}})
                                    </div>
                                </div>
                                <label nz-radio ngModel>Radio</label>
                            </div>
                            <div class="hotel-detail-room-rates open">
                                <div class="rates-box"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4"></div>
            </div>
        </div>
    </div>
</div>